<h4>Demo</h4>

<div id="one_arr"> <h1>一维数组</h1> </div>
<div id="two_arr"> <h2>二维数组</h2> </div>
<div id="obj">     <h3>键值数组</h3> </div>

<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
    $(function () {

        $('#one_arr').click(function () {
            var one_arr = ["one", "two", "three", "four"];
            $.each(one_arr, function () {
                alert(this);
                console.log(this);
            });
        });

        $('#two_arr').click(function () {
            var two_arr = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
            $.each(two_arr, function (i, item) {
                $.each(item, function (j, result) {
                    alert(result);
                    console.log(result);
                });
            });
        });

        $('#obj').click(function () {
            var obj = {one: 100, two: 364, three: 547, four: 509};
            $.each(obj, function (key, val) {
                alert(obj[key]);
            });
        });

    });
</script>