<include file="Index/header" />
<title>新闻分类</title>
<script type="text/javascript" src="__PUBLIC__/kindeditor4110/kindeditor.js" charset="utf-8"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110//themes/default/default.css"></script>
<script type="text/javascript">

    KindEditor.ready(function (K) {
        // var editor = K.create('textarea[name="description"]');
        var editor = K.create('textarea[name="desc"]', {
            afterBlur: function () {
                this.sync();
            }
        });
    });
</script>
<div class="page-container">

    <include file="Index/header" />
    <title>文章分类</title>
    <link href="__PUBLIC__/static/media/css/select2.css" rel="stylesheet" type="text/css"/>


    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <include file="Index/left_menu" />

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <!-- BEGIN PAGE HEADER-->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{:U('Admin/Index/index')}">主页</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{:U('Admin/News/category')}">新闻分类</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>

                </div>
                <!-- END PAGE HEADER-->

                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal form-row-seperated" enctype="multipart/form-data" action="{:U('News/doeditacti')}" method="post">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-shopping-cart"></i>新闻分类
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div style="margin-bottom:10px;">
                                        <a href="{:U('News/addcategory')}" class="btn btn-success">添加分类</a>
                                    </div>
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover" id="datatable_products">
                                            <thead>
                                                <tr>
                                                    <th width="30">ID</th>
                                                    <th align="left">分类</th>
                                                    <th align="left">时间</th>
                                                    <th width="120">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <foreach name="category_list" item="vo">
                                                <tr>
                                                    <td>{$vo.id}</td>
                                                    <td>{$vo.name}</td>
                                                    <td>{$vo.create_time}</td>
                                                    <td>
                                                        <a href="{:U('News/editcategory',array('id'=>$vo['id']))}">修改</a>|
                                                        <a class="js-ajax-delete" href="{:U('News/DelCategory',array('id'=>$vo['id']))}">删除</a>
                                                    </td>
                                                </tr>
                                            </foreach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->


    <include file="Index/footer" />
