<include file="Index/header" />
<title>新闻分类</title>
<script type="text/javascript" src="__PUBLIC__/kindeditor4110/kindeditor.js" charset="utf-8"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110//themes/default/default.css"></script>
<script type="text/javascript">

    KindEditor.ready(function (K) {
        // var editor = K.create('textarea[name="description"]');
        var editor = K.create('textarea[name="desc"]', {
            afterBlur: function () {
                this.sync();
            }
        });
    });
</script>
<div class="page-container">

    <include file="Index/header" />
    <title>文章分类</title>
    <link href="__PUBLIC__/static/media/css/select2.css" rel="stylesheet" type="text/css"/>


    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <include file="Index/left_menu" />

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <!-- BEGIN PAGE HEADER-->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{:U('Admin/Index/index')}">主页</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{:U('Admin/News/category')}">新闻分类</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>

                </div>
                <!-- END PAGE HEADER-->

                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal form-row-seperated" enctype="multipart/form-data" action="{:U('News/DoEditCategory', array('id'=>$id))}" method="post">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-shopping-cart"></i>修改分类
                                    </div>
                                </div>

                                <div class="portlet-body">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#" data-toggle="tab">
                                                    修改分类</a>
                                            </li>
                                        </ul>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">分类名称:
                                            </label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" maxlength="20"  name="title" placeholder="" value="{$category_name}" >
                                            </div>
                                        </div>
                                        <div class="actions btn-set col-sm-offset-2">
                                            <button  class="btn yellow"> <i class="fa fa-check"></i>修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->


<include file="Index/footer" />
