<include file="Index/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<!--标题 start-->
<div class="title clearfix">
   <h1>教师简介</h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix bt">

   <!--教师简介 start-->
   <div class="campus">
      <h2>华东师范大学附属第二中学乐东黄流中学（以下简称华二乐东黄流中学）<br>
由乐东县政府与上海华东师范大学第二附属中学合作创办，是一所全寄宿制的县重点中学。</h2>
      <div class="cam-cont">
	        <p class="ti0" style="padding-top: 0"><img src="__PUBLIC__/images/img/campus-qj.jpg"> </p>
	        <p>
	        	华二乐东黄流中学的前身是上世纪享有“北有文昌 南有乐东”称誉的黄流中学。黄流中学创办于1947年，原名崖县初级中学、乐东第二中学、乐东第一中学，上世纪八十年代更名黄流中学。1991年黄流中学被国家教育部评为“全国百所农村名校”。办学69年来，黄流中学为社会培养出了数以万计的英才，其中有我国著名的语言学家、华中师范大学博士生导师邢福义；航天专家陈河梧；雕塑家林毓豪；奥运冠军胡富芬等等。黄流学子自古勤奋好学，果敢而又独立。这与上海华二附中校训“卓然独立”不谋而合。2016年2月，乐东县政府与上海华东师范大学第二附属中学签定合作办学协议，华二乐东黄流中学应运而生。
	        </p>
	        <div class="ti0 img">
	        	<b class="l"><img src="__PUBLIC__/images/img/campus-2.jpg"></b>
	              <ul class="" style="padding-left: 5px;margin-left:5px; ">
	              	<li><img src="__PUBLIC__/images/img/campus-3.jpg"></li>
	              </ul>  
	        </div>
      </div>  
      <a href="javascript:scroll(0,0)" class="back-top">
          <img style='margin:0 auto;' src="__PUBLIC__/images/img/back-top.jpg" />
      </a>
  </div>
  <!--教师简介 end-->
</div>
<!--内容 end-->



<include file="Index/footer" />
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/osSlider.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>



