<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<!--标题 start-->
<div class="title clearfix">
    <h1 class="pt25">卓越学院</h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix">

    <!--卓越学院 start-->
    <div class="excellence situation">
        <p>华二乐东黄流中学卓越学院是一个为学有余力且学有所长的学生进行针对性学习服务的学校内设机构，具有独立的人才培养制度和针对学生特长发展的小班化培养计划。通过各类高标准课程学习为部分基础扎实的学生定制个性化特长发展课程。创建”卓越学院“，本质上是构建一种新的学生培养模式，其内涵为：</p>
        <h2>高水平的共同基础+个性化特长培养</h2>
        <ul class="clearfix">
            <li >
                <img src="__PUBLIC__/images/img/zy-img-1.jpg" width="460"  height="346">
            </li>
            <li style="padding-right: 0;"><img src="__PUBLIC__/images/img/zy-img-2.jpg" width="274"  height="205"></li>
            <li style="padding-right: 0;"><img src="__PUBLIC__/images/img/zy-img-3.jpg" width="197"  height="133"></li>
            <li style="padding-left:6px; padding-right: 0; "><img src="__PUBLIC__/images/img/zy-img-4.jpg" width="70"  height="133"></li>
        </ul>
        <p>

            卓越学院的部分课程与上海华东师范大二附中相关课程接轨，小班化多方位多途径地开展教学活动，通过同步课堂远程教学；上海教师团队短期入校指导；本校专职教师小班化辅导等方式授课。训练营是卓越课程的一种延伸形式，其特征是将卓越学院部分难度较低的课程向全体在校就读学生乃至未来希望报考本校的学生开放，以达到优质资源共享的目的。</p>
        <h3>卓越学院主要设立人文社科，科技创新、数理提升、艺术、四大培养方向培养，为有相关特殊需求且学有余力的学生服务。其主要加入方式有三：</h3>
        <p><img src="__PUBLIC__/images/img/zy-img-5.png"></p>
        <ul class="clearfix">
            <li>
                <img src="__PUBLIC__/images/img/campus-2.jpg" width="742">
                <span>2016华二乐东黄流中学暑期训练营精彩照片</span>
            </li>
            <li><img src="__PUBLIC__/images/img/campus-2.jpg" width="282"  height="200"></li>
            <li><img src="__PUBLIC__/images/img/campus-2.jpg" width="282"  height="200"></li>
            <li style="padding-right: 0;"><img src="__PUBLIC__/images/img/campus-2.jpg" width="166"  height="200"></li>
        </ul>

    </div>
    <!--卓越学院 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-2.1.0.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>