<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>

<!--标题 start-->
<div class="title clearfix">
    <h1 class='pt25'>办学理念</h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix">
    <!--办学理念 start-->
    <div class="motto">
        <div class="txt"> 
            <span>办学理念</span>
            <p>追求卓越，培养创造未来的人。</p>
            <span class="mt50">办学目标</span>
            <p>以卓越的教育理：发现学生的生命潜能，让每一个学生获取生命幸福的学养和能力；发现教师的教育智慧，让每一位教师享受事业成功的快乐与荣耀；发现并珍视学校的文化基因，让学校成为底蕴深厚、润泽生命的温馨家园，和以人为本、推动变革的教育品牌。</p>
        </div>
        <p><img src="__PUBLIC__/images/img/motto-img.jpg"/></p>
    </div>
    <!--办学理念 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-2.1.0.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>