<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<!--标题 start-->
<div class="title clearfix">
    <h1>校情简介<b>追求卓越的69年</b></h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix">
    <!--校训 start-->
    <div class="motto">
        <div class="txt">学校以<b>“追求卓越，培养创造未来的人”</b>为办学理念，<br>
            以<b>“卓然独立，越而胜己”</b>为校训，<br>
            将着力打造以生涯辅导为支撑的服务学习体系，<br>
            培养学生独立的人格和勇于自我超越的精神。</div>
        <p><img src="__PUBLIC__/images/img/motto-img.jpg"/></p>
    </div>
    <!--校训 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-2.1.0.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>