<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<!--标题 start-->
<div class="title clearfix">
    <h1 class='pt25'>学校概况</h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix bt">

    <!--校园简介 start-->
    <div class="campus situation">

        <div class="cam-cont situ-cont">
            <p class="ti0" style="padding-top: 0">
                <img src="__PUBLIC__/images/img/campus-2.jpg" width="850"  height="450"> </p>
            <p class="ti2">
                华东师范大学第二附属中学乐东黄流中学座落于“中国民间文化艺术之乡”、“海南省书法之乡“、“海南省十大文化名镇”之一的乐东黎族自治县黄流镇；地处南海之滨，龙腾湾畔，是上海市华东师范大学第二附属中学（以下简称“华二”）与海南省乐东黎族自治县合作办学的产物。这是上海华二的首次教育输出，也是黄流中学这所历史名校涅磐后的又一次新生。</p>

            <p class="ti2">乐东黎族自治县素来重视教育，具有悠久的文化历史。上个世纪90年代以前，黄流中学曾经是海南教育的一面旗帜，享有“北文昌，南乐东”的美誉。老黄流中学培养过数十位全国知名学者、艺术家，其杰出校友遍布整个海南省乃至全国各个领域。从90年代后期开始，由于种种原因，优质师生资源不断流失，这所曾被教育部录入“中国百所农村名校”的中学逐渐走向衰微。 为了重振名校雄风，改变乐东地区教育现状，在省委省政府关心与支持下，在乐东县委、县政府的实际推动下，2016年2月，由华东师范大学牵线，乐东县教育局与华东师范大学第二附属中学联姻，海南省委罗保铭书记和华东师大党委童世骏书记共同签约，正式宣告了这所新黄流中学的诞生。</p>

            <p class="ti2">华东师范大学第二附属中学创建于1958年，是上海唯一的一所国家教育部直属的实验性、示范性高中。这所坐落于浦东张江高科园区上海名校，素有“金牌学校”的美誉，在理科智优生培养、“六个百分百“素质教育、创新拔尖人才培养方面都拥有丰硕教育成果。在国家推行的历次教育改革中，都走在前列，近年来，在多年积累的基础上又推出了以提升中学国际竞争能力为目标的学校课程，建立了“卓越学院”，不仅大大促进了学生综合素质的提高，也推动了教师的专业发展。</p>

            <p class="ti2">新黄流中学由上海华二派出管理团队对学校的教育、教学改革进行全方面、系统管理，在教育、教学诸多方面实现与上海华二的资源对接与共享。其中“六个百分百“、”卓越学院“、”晨晖讲坛“（本校更名为”龙腾讲坛“）等特色教育、教学管理模式和活动样式在充分研究乐东地区教育基础与文化特质的基础上以全新的面貌、全新的内容在这里落地生根。</p>

            <h3><span>校徽</span></h3>
            <p><img src="__PUBLIC__/images/img/schoolbadge-.png"> </p>
            <p>学校标志性建筑：恢弘大气的建筑彰显学校的办学实力、教学实力、和卓著教育成果。<br>
                书本：知识的海洋，教书育人。<br>
                字母H：即是华东师范大学第二附中的缩写也是黄流中学的缩写，表现两校合作定会实现更高的教育突破。</p>
            <h3><span>校训</span></h3>
            <p><img src="__PUBLIC__/images/img/schoolmotto-.png"></p>
            <p>卓然独立——志向不狭窄、人格不依附、思维不趋同、言行不虚浮；<br>
                越而胜己——自我渐清晰、反思成习惯、选择有能力、发展能自觉。</p>
            <h3><span>培养目标</span></h3>
            <p>追求卓越，培养创造未来的人</p>
            <h3><span>校园魅影廊</span></h3>
            <ul class="gallery clearfix">
                <li><img src="__PUBLIC__/images/img/gallery.jpg" width="420" height="200"></li>
                <li><img src="__PUBLIC__/images/img/gallery.jpg" width="420" height="200"></li>
                <li><img src="__PUBLIC__/images/img/gallery.jpg" width="420" height="200"></li>
                <li><img src="__PUBLIC__/images/img/gallery.jpg" width="420" height="200"></li>
            </ul>
            <h3><span>宣传视频</span></h3>
            <p class="video">
                <video src="__PUBLIC__/video/recruitStudents.mp4" controls="controls">
                    your browser does not support the video tag
                </video>
            </p>
        </div>  
        <a href="javascript:scroll(0,0)" class="back-top">
            <img style='margin:0 auto;' src="__PUBLIC__/images/img/back-top.jpg" />
        </a>
    </div>
    <!--校园简介 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-2.1.0.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>