<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>

<!--标题 start-->
<div class="title clearfix">
    <h1 class="pt25">学校领导</h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix">

    <!--学校领导 start-->
    <div class="lead">
        <div class="saying">
            <span class="l"><img src="__PUBLIC__/images/img/quotes-l.jpg"/></span>
            <div class="txt l">华二黄中将继续秉持并发展华二人“卓然独立、越而胜己“的精神，在充分发掘并尊重海南海岛文化特别是乐东地区文化传统的基础上，把上海城市文化特别是华二校园文化的优秀基因，渗透到办学实践的各个环节中来。努力让每一个新黄中人拥有一颗自信、自强、自由的灵魂，既不妄自菲薄，也不妄自尊大；做到有目标、有信念、有实际行动力，成为能够发现自我、发展自我、超越自我的大写的人。从而为每一个新黄中人，也为学校、为乐东开创崭新的未来。</div>
            <span class="l"><img src="__PUBLIC__/images/img/quotes-r.jpg"/></span>
            <p>——瞿平</p>
        </div>
        <h2><b>学校主要负责人</b></h2>
        <dl class="master clearfix">
            <dt>校长简介</dt>
            <dd><img src="__PUBLIC__/{$list[0].img_path}" width="285" height="285" /></dd>
            <dd class="w570" style="width: 530px; margin-left: 35px;">
                <b>{$list[0][name]}</b>
                <i>{$position_name_list[0]['position_name']} </i>
                <p style="padding-top: 30px;">{$list[0][exper]}</p>
            </dd>
        </dl>
        <dl class="master mt50 clearfix" >
            <dd><img src="__PUBLIC__/{$list[1].img_path}" width="285" height="285" /></dd>
            <dd class="w570" style="width: 530px; margin-left: 35px;">
                <b>{$list[1][name]}</b>
                <i>{$position_name_list[1]['position_name']} </i>
                <p style="padding-top: 30px;">{$list[1][exper]}</p>
            </dd>
        </dl>
        <h2><b>教育教学指导委员会成员</b></h2>
        <dl class="master clearfix mt20">
            <table class="pilot pilot-1" style="width: 100%;background: #f5f5f5;">
                <tr>
                    <th>校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[0][id]))}">{$list[0][name]}</a></td>
                </tr>
                <tr>
                    <th>党委书记兼副校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[4][id]))}">{$list[4][name]}、</a> <a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[5][id]))}">{$list[5][name]}、</a> </td>
                </tr>
                <tr>
                    <th>党委副书记兼副校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[3][id]))}">{$list[3][name]}</a></td>
                </tr>
            </table>
        </dl>
        <h2><b>学校领导</b></h2>
        <dl class="master clearfix mt20">
            <dd style="width: 435px;">
                <table class="pilot">
                    <tr>
                        <th>校长：</th>
                        <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[0][id]))}">{$list[0][name]}({$list[0][img_position]})</a>   </td>
                    </tr>
                    <tr class="bg-w">
                        <th>党委书记兼副校长：</th>
                        <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[4][id]))}">{$list[4][name]}({$list[4][img_position]})、</a> <a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[5][id]))}">{$list[5][name]}({$list[5][img_position]})</a></td>
                    </tr>
                    <tr>
                        <th>党委副书记兼副校长：</th>
                        <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[3][id]))}">{$list[3][name]}({$list[3][img_position]})</a></td>
                    </tr>
                    <tr class="bg-w">
                        <th>副校长：</th>
                        <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[2][id]))}">{$list[2][name]}({$list[2][img_position]})</a></td>
                    </tr>
                </table>
            </dd>
            <dd>
                <img src="__PUBLIC__/{$list[2].img_path}" width="413" height="277" />
            </dd>
        </dl>
        <h2><b>教育教学指导委员会成员</b></h2>
        <dl class="master clearfix mt20">
            <table class="pilot pilot-1" style="width: 100%;background: #f5f5f5;margin-bottom: 100px;">
                <tr>
                    <th>校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[0][id]))}">{$list[0][name]}</a>   </td>
                </tr>
                <tr>
                    <th>党委书记兼副校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[4][id]))}">{$list[4][name]}、</a> <a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[5][id]))}">{$list[5][name]}、</a> </td>
                </tr>
                <tr>
                    <th>党委副书记兼副校长：</th>
                    <td><a href="{:U('Home/SinglePage/leaderDetail', array('id'=>$list[3][id]))}">{$list[3][name]}</a></td>
                </tr>
            </table>
        </dl>
    </div>
    <!--学校领导 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-2.1.0.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>