<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search " action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </form>

            </li>

            <li class="active open">
                <a href="{:U('Admin/Index/index')}">
                    <i class="icon-home"></i>
                    <span class="title"> 黄流管理系统</span>
                    <span class="selected"></span>

                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">会员管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/Index/index')}">
                            <i class="icon-folder"></i>
                            &nbsp;会员管理</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">图片管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/Banner/showimg')}">
                            <i class="icon-folder"></i>
                            &nbsp;首页轮播图管理</a>
                    </li>
                    <li>
                        <a href="{:U('Admin/Discover/bannerList')}">
                            <i class="icon-folder"></i>
                            &nbsp;发现头部图片管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">新闻管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/News/actione')}">
                            <i class="icon-folder"></i>
                            &nbsp;新闻管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">发现文章管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/Discover/actione')}">
                            <i class="icon-folder"></i>
                            &nbsp;发现文章管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">友情链接管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/Link/link')}">
                            <i class="icon-folder"></i>
                            &nbsp;友情链接管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">学校教师管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/Teacher/schoolTeacher')}">
                            <i class="icon-folder"></i>
                            &nbsp;学校教师管理</a>
                    </li>
                    <li>
                        <a href="{:U('Admin/Teacher/position')}">
                            <i class="icon-folder"></i>
                            &nbsp;老师职位管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-list"></i>
                    <span class="title">分类管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{:U('Admin/News/category')}">
                            <i class="icon-folder"></i>
                            &nbsp;分类管理</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->


