@charset "utf-8";
body{
	margin:0;
	padding:0;
	background:#F8FCFD;
	font-family: "微软雅黑";
}
.plant-01{
    width:1920px;
    height:500px;
	background:url("../image/cgzl/eg_02.jpg") no-repeat;
}
.plant-01-one{
	width:1000px;
	height:492px;
	margin:0 auto;
	position:relative;
}
.plant-01-button{
	width:160px;
	height:55px;
	position:absolute;
	right:0;
	bottom:39px;
	cursor:pointer;
}
.plant-01-button a{
	display:block;
	width:160px;
	height:55px;
}
.et-pl-list{
	width:1920px;
    height:50px;
	background:#236a5a;
}
.list-text-zj{
	width:1110px;
	height:50px;
	line-height:50px;
	margin:0 auto;
}
.list-text-zj a{
	float:left;
	text-decoration:none;
	color:#ffffff;
	display:block;
	width:185px;
	height:50px;
	font-size:16px;
	text-align:center;
	background:url("../image/cgzl/eg_06.jpg");
}
.list-text-zj a:hover{
	background:url("../image/cgzl/eg_04.jpg");
}

/*  第一页  */
.zj-bg{
	width:1920px;
	height:auto;
	zoom:1;
	overflow:hidden;
	background:#F8FCFD;
	color:#236a5a;
}
.pl-title{
	width:1105px;
	height:101px;
	margin:0 auto;
	background:url("../image/cgzl/eg_09.jpg");
}
.pl-title>div{
    width:946px;
	height:50px;
	float:right;
	font-size:13px;
	color:#008d6a;
	padding:40px 0 0 0;
}
.pl-title p{
	margin:0;
	line-height:25px;
}
.cg-01-box{
	width:1105px;
	height:521px;
	margin:0 auto;
	background:url("../image/cgzl/eg_11.jpg") no-repeat;
}
.cg-01-title{
	width:1105px;
	height:130px;
	line-height:130px;
	text-align:center;
	color:#008d6a;
}
.cg-01-title p{
	font-size:36px;
	margin:0;
}
.cg-01-content{
	width:1105px;
	height:150px;
}
.cg-01-content>div{
	height:150px;
	float:left;
}
.cg-01-height{
	width:1000px;
	height:215px;
}
.cg-01-content p{
	font-size:12px;
	line-height:25px;
}
.cg-01-content strong{
	display:block;
	text-align:center;
}
/*  第二页  */
.cg-02{
	width:1920px;
	height:741px;
	background:url("../image/cgzl/eg_13.jpg") no-repeat;
}
.cg-02-box{
	width:1105px;
	height:741px;
	margin:0 auto;
}
.cg-02-buttom{
	width:1105px;
	height:119px;
	position:relative;
}
.cg-02-buttom a{
	dispaly:block;
	width:153px;
	height:57px;
	position:absolute;
	right:0;
	bottom:30px;
}
.cg-02-one,.cg-02-two{
	width:1105px;
	height:176px;
	font-size:12px;
	color:#008d6a;
}
.cg-02-one>div{
	height:145px;
	float:left;
	padding:30px 35px 0 35px;
}
.cg-02-one p{
	margin:0;
	line-height:20px;
}
.cg-02-two>div{
	height:131px;
	float:left;
	padding:43px 5px 0 5px;	
	font-size:14px;
}
.cg-02-three{
	width:1105px;
	height:30px;
	line-height:30px;
	font-size:12px;
	text-align:right;
	color:#fff;
}
.cg-02-three p{
	margin:0;
}
.cg-02-four{
	width:1105px;
	height:40px;
	line-height:40px;
	font-size:24px;
	color:#fff;
	margin-top:-12px;
}
.cg-02-five{
	width:1105px;
	height:80px;	
	color:#fff;
	padding-top:10px;
}
.cg-02-five>div{
	float:left;
	height:80px;
}
.cg-02-five strong{
	font-size:15px;
}
.cg-02-five p{
	font-size:12px;
	margin:10px 0 0 0;
}




/*  第三页  */
.cg-04{
	width:1920px;
	height:auto;
	zoom:1;
	overflow:hidden;
}
.cg-05{
	width:1104px;
	height:551px;
	margin:0 auto;
	background:url("../image/cgzl/eg_15.jpg") no-repeat;
}
.cg-05-height{
	width:1104px;
	height:25px;	
}
.cg-05-one{
	width:1104px;
	height:176px;
	color:#fff;
}
.cg-05-xxx p{
	margin:0;
}
.cg-05-xxx:hover,.cg-05-two-x:hover,.cg-05-two-x:hover{
	background:#47BA9D;
}
.cg-05-big{
	width:420px;
	height:88px;
	
}
.cg-05-big li{
	list-style:none;
	float:left;
}
.cg-51{
	font-size:60px;
	line-height:70px;
}
.cg-52{
	font-size:30px;
	line-height:77px;	
	
}
/*
.cg-05-big-01{
	font-size:75px;
	font-weight:400;	
}
.cg-05-big-02{
	font-size:36px;
	font-weight:400;
}
*/
.cg-05-one>div{
	height:154px;
	float:left;
	padding:20px 0 0 35px;
}
.cg-05-two{
	width:1104px;
	height:176px;
	color:#fff;
}
.cg-05-two>div{
	height:154px;
	float:left;
	padding:20px 30px 0 30px;
}
.cg-05-three{
	width:1104px;
	height:176px;
	color:#fff;
}
.cg-05-three>div{
	height:154px;
	float:left;
	padding:20px 30px 0 30px;
}
.cg-05-two strong,.cg-05-three strong{
	font-size:16px;
}
.cg-05-two p,.cg-05-three p{
	font-size:14px;
}
.cg-06-title{
	width:1104px;
	height:58px;
	text-align:center;
	line-height:58px;
}
.cg-06-title a{
	color:#008d6a;
	text-decoration:none;
	font-size:24px;
}
.cg-06{
	width:1104px;
	height:678px;
	margin:0 auto;	
	background:url("../image/cgzl/eg_17.jpg") no-repeat;
}
.cg-06-botton{
	width:1104px;
	height:125px;
	position:relative;
}
.cg-06-botton a{
	display:block;
	width:150px;
	height:55px;
	position:absolute;
	right:0;
	bottom:41px;
}
.cg-06-box{
	width:1104px;
	height:360px;
	color:#fff;
}
.cg-06-box>div{
	float:left;
	height:360px;
}
.cg-li-one ul,.cg-li-two ul{
	margin:0;
	padding:0;
}
.cg-li-one li,.cg-li-two li{
	list-style:none;
}
.cg-li-one li{
	width:360px;
	height:120px;
}
.cg-li-two li{
	width:430px;
	height:120px;	
}
.cg-li-one strong{
	font-size:20px;
}
.cg-li-one p{
	font-size:12px;
	margin:3px;
	text-indent:28px;
}
.cg-li-two strong{
	font-size:20px;
}
.cg-li-two p{
	font-size:12px;
	margin:3px;
	text-indent:28px;
}
.cg-06-bottom{
	width:1000px;
	height:80px;
	padding:0 37px 0 66px;
	color:#fff;
	font-size:18px;
}
.cg-06-bottom p{
	margin:0;
}



/*   公共部分   */
.pl-07{
	width:1104px;
	height:725px;
	margin:0 auto;
}
.pl-07-title{
	width:1104px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:36px;
	color:#008d6a;
}
.pl-07-nav{
	width:1104px;
	height:30px;
}
.pl-07-nav>div{
	width:552px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	background:#008d6a;
	float:left;
}
.pl-07-nav>div.pl-07-on{
	background:#f6ac0e;
}
.pl-07-box{
	width:1104px;
	height:630px;
	position:relative;
}
.pl-07-box>div{
	width:1104px;
	height:630px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.pl-xx-one{
	text-align:center;
	font-size:13px;
	color:#7d6654;
	height:40px;
	line-height:40px;
	margin-bottom:20px;
	margin-top:20px;
}
.pl-07-one>div{
	float:left;
	width:552px;
	height:313px;
	color:#46b09f;
}
.pl-yz-one{
	background:url("../image/plant/zzpl_03.jpg") no-repeat 2px 5px;
}
.pl-yz-two{
	background:url("../image/et/et_20.jpg") no-repeat 2px 5px;
}
.pl-yz-three{
	background:url("../image/zj/zjj_03.jpg") no-repeat 2px 5px;
}
.pl-yz-four{
	background:url("../image/plant/zzpl_10.jpg") no-repeat 2px 5px;
}
.pl-yz-right{
	float:right;
	width:300px;
	height:270px;
	margin:42px 10px 0 0;
}
.pl-yz-right p{
	margin:0;
	font-size:12px;
}


.pl-xx-two{
	height:280px;
}
.pl-xx-three{
	height:225px;
	margin-top:20px;
	border-bottom:1px solid #46b09f;
}
.pl-xx-two>div{
	width:552px;
	float:left;
	text-align:center;
	font-size:14px;
	color:#008d6a;
}
.pl-xx-three>div{
	float:left;
	width:368px;
	text-align:center;
	color:#008d6a;
	font-size:14px;
}
.pl-xx-two>div p,.pl-xx-three>div p{
	margin:5px 0;
}

.pl-08{
	width:1102px;
	height:588px;
	margin:10px auto 0 auto;
	background:url("../image/cgzl/eg_19.jpg") no-repeat;
}
.pl-08-one{
	width:1102px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:36px;
	color:#008d6a;
}
.pl-08-two{
	width:1102px;
	height:500px;
	font-size:14px;
	color:#008d6a;
}
.pl-09{
	width:1102px;
	height:497px;
	margin:0 auto;
	font-size:14px;
	color:#008d6a;
	background:url("../image/cgzl/eg_21.jpg") no-repeat;
}
.pl-09>div{
	float:left;
}
.pl-08-two>div{
	float:left;
}
.pl-8-x{
	width:300px;
	height:490px;
}
.pl-8-xx{
	width:760px;
	height:500px;
	padding:0 20px;
}
.pl-8-xx p{
	margin:2px 0;
}
.pl-10{
	width:1104px;
	height:230px;
	margin:0 auto;
}
.pl-10>div{
	float:left;
	width:350px;
	height:230px;
	margin:0 9px;
}
.pl-10-one,.pl-10-two{
	width:350px;
	height:40px;
	line-height:40px;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;

}
.pl-10-one{
	background:#008d6a;
}
.pl-10-one a:hover{
	background:#47ba9d;
}
.pl-10-two{
	background:#7d6654;
}
.pl-10-two a:hover{
	background:#9c897a;
}
.pl-10-three{
	width:350px;
	height:90px;
	line-height:90px;
	color:#ffffff;
	font-size:25px;
	text-align:center;
	font-weight:700;
	background:#008d6a;
	margin-bottom:10px;

}
.pl-10-three a:hover{
	background:#47ba9d;
}
.pl-10-one a,.pl-10-two a{
	display:block;
	width:350px;
	height:40px;
	color:#ffffff;
	text-decoration:none;
}
.pl-10-three a{
	display:block;
	width:350px;
	height:90px;
	color:#ffffff;
	text-decoration:none;
}
.new-button{
	width:248px;
	height:37px;
	display:block;
	text-align:center;
	background:url("../image/et/et_29.jpg");
	color:#fff;
	font-size:16px;
	text-decoration:none;
	line-height:37px;
	margin:30px auto 0 auto;
}
.cg-10{
	position:relative;
}
.cg-11{
	position:relative;
}
.cg-10 a{
	position:absolute;
	width:170px;
	height:50px;
	top:5px;
	right:18px;
}
.cg-11 a{
	position:absolute;
	width:170px;
	height:50px;
	top:-23px;
	right:18px;
}










