@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
.cor-01{
    width:1920px;
    height: 1175px;
}
.cor-02{
    width:1920px;
    height: 738px;
}
.cor-03{
    width:1920px;
    height: 816px;
}
.cor-04{
    width:1920px;
    height: 819px;
}
.cor-05{
    width:1920px;
    height: 819px;
}
.cor-06{
    width:1920px;
    height: 787px;
}
.cor-07{
    width:1920px;
    height: 851px;
}
.cor-08{
    width:1920px;
    height: 694px;
    position:relative;
}


/* �ײ�tab�л� */
.plant-box{
    width:1008px;
    height:383px;
    position:absolute;
    top:75px;
    left:50%;
    margin-left:-503px;
}
.plant-box-list{
    width:1008px;
    height:44px;
}
.plant-box-list ul{
    padding:0;
    margin:0;
}
.plant-box-list ul li{
    list-style:none;
    float:left;
    width:200px;
    height:43px;
    line-height:43px;
    background:#4d4d4d;
    color:#ffffff;
    text-align:center;
    border-right:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    cursor:pointer;
}
.plant-box-list ul li p{
    margin:0;
}
.plant-box-content>div{
    display:none;
}
.bottom-button.ox{
    background: #236a5a;
}
