@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
.he-one{
    width: 1100px;
    height:25px;
    margin:15px auto 15px auto;
    border-bottom:1px solid #adadad;
    font-size:15px;
}
.he-one p{
    margin:0;
}
.he-two{
    width: 1100px;
    height:auto;
    margin:0 auto;
    overflow:hidden;
    zoom:1;
}
.he-left{
    width:180px;
    height:100px;
    margin-right:25px;
}
.he-right{
    width:875px;
    height:1120px;
    position:relative;

}
.he-two>div{
    float:left;
}
.he-left{
    border-top:1px solid #adadad;
}
.he-left ul{
    padding:0;
    margin:0;
}
.he-left ul li{
    list-style:none;
    height:50px;
    line-height:50px;
    font-size:14px;
    cursor:pointer;
    border-bottom:1px solid #adadad;
    background:url('../image/new/hui_10.jpg') no-repeat center right;
}
.he-left ul li p{
    margin:0;
}
.he-left ul li.on{
    background:url('../image/new/hui_04.jpg') no-repeat center right;
    color:#f5a72e;
    font-size:15px;
}


.he-right>div{
    position:absolute;
    left:0;
    top:0;
    display:none;
}
/*地图*/
.he-du{
    width:875px;
    height:370px;
    border:2px solid #adadad;
}
.he-cen{
    color:#9b9b9b;
}
.he-yue{
    border-bottom:2px solid #f5a72e;
    width:875px;
    height:25px;
    color:#9b9b9b;
    font-size:15px;
    margin-bottom:10px;
}
.he-biao{
    width:871px;
    height:250px;
    border:2px solid #e5e5e5;
    font-size:14px;
    margin-bottom: 10px;
}
.he-biao ul{
    padding:0;
    margin:0;
    height:50px;
    width:871px;
}
.he-biao ul li{
    list-style:none;
}
.biao-two{
    background:#e5e5e5;
}
.biao-one li,.biao-two li{
    width:215px;
    height:50px;
    line-height:50px;
    float:left;
    text-align:center;
}
.biao-one li{
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.biao-two li{
    margin:0 1px;
}
.biao-three li{
    line-height:50px;
    text-align:right;
}
.he-ewm>div{
    float:left;
}
.ewm-one,.ewm-two{
    font-size:14px;
    text-align:center;
    width:200px;
    height:220px;
}
.ewm-three{

    width:430px;
    height:220px;
}
.ewm-one p,.ewm-two p{
    margin:0;
}
.ewm-one{
    margin-right:10px;
}
.ewm-two{
    margin-right:35px;
}
.ewm-01{
    border-bottom:2px solid #000000;
    font-size:14px;
    line-height:35px;
}
.ewm-three p{
    font-size:20px;
    margin:10px 0 0 0;
    color:#9b9b9b;
}