@charset "utf-8";
body{
	margin:0;
	padding:0;
	background:#F8FCFD;
	font-family: "微软雅黑";
}
.plant-01{
    width:1920px;
    height:500px;
	background:url("../image/et/et_03.jpg") no-repeat;
}
.plant-01-one{
	width:1000px;
	height:492px;
	margin:0 auto;
	position:relative;
}
.plant-01-button{
	width:237px;
	height:138px;
	position:absolute;
	right:75px;
	bottom:90px;
	cursor:pointer;
}
.plant-01-button a{
	display:block;
	width:237px;
	height:138px;
}
.et-pl-list{
	width:1920px;
    height:50px;
	background:#236a5a;
}
.list-text-zj{
	width:1110px;
	height:50px;
	line-height:50px;
	margin:0 auto;
}
.list-text-zj a{
	float:left;
	text-decoration:none;
	color:#ffffff;
	display:block;
	width:277px;
	height:50px;
	font-size:16px;
	text-align:center;
	background:url("../image/et/et_07.jpg");
}
.list-text-zj a:hover{
	background:url("../image/et/et_05.jpg");
}

/*  第一页  */
.zj-bg{
	width:1920px;
	height:auto;
	zoom:1;
	overflow:hidden;
	background:#F8FCFD;
	color:#236a5a;
}
.pl-title{
	width:1105px;
	height:101px;
	margin:0 auto;
	background:url("../image/et/et_10.jpg");
}
.pl-title>div{
    width:946px;
	height:50px;
	float:right;
	font-size:13px;
	color:#fa9901;
	padding:40px 0 0 0;
}
.pl-title p{
	margin:0;
	line-height:25px;
}
.et-01{
	width:1105px;
	height:540px;
	margin:0 auto;
	background:url("../image/et/et_12.jpg") no-repeat;
}
.et-01 p{
	margin:10px 0;
}
.et-01-height{
	width:1105px;
	height:135px;
}
.et-01-title,.et-02-title{
	text-align:center;
	font-size:30px;
	font-weight:500;
}
.et-01-content{
	width:1000px;
	margin:0 auto;
	font-size:14px;
}

.et-02{
	width:1105px;
	height:432px;
	margin:0 auto;
	background:url("../image/et/et_13.jpg") no-repeat;
}
.et-02-title p{
	margin:0;
}
.et-02-title{
	padding-top:10px;
}
.et-02-content ul{
	margin:0;
	padding:0;
}
.et-02-content ul li{
	list-style:none;
	float:left;
	width:197px;
	height:230px;
	padding:80px 35px 0 35px;
	font-size:13px;
}
.et-02-content ul li strong{
	display:block;
	width:197px;
	text-align:center;
	font-size:15px;
}
.et-02-content ul li p{
	line-height:20px;
}
/*  第二页  */
.et-03-box{
	width:1920px;
	height:690px;
	margin:0 auto;
	background:url("../image/et/et_14.jpg") no-repeat;
}
.et-03{
	width:1100px;
	height:680px;
	margin:0 auto;	
}
.et-03-height{
	width:1100px;
	height:275px;
}
.et-03-center{
	width:1100px;
	height:400px;
}
.et-03-center>div{
	width:438px;
	height:350px;
	float:left;
	padding:0 45px;
}
.et-03-center p{
	margin:5px 0;
	color:#b3001d;
	font-size:14px;
}

/*  第三页  */
.et-04{
	width:1101px;
	height:1095px;
	margin:0 auto;
	background:url("../image/et/et_16.jpg") no-repeat;
}
.et-04-height{
	width:1101px;
	height:140px;	
}
.et-04-content{
	width:1101px;
	height:300px;		
}
.et-04-content>div{
	height:227px;
	float:left;
	color:#b3001d;
	padding:35px 30px;
}
.et-04-content strong{
	font-size:16px;
}
.et-04-content p{
	font-size:14px;
	margin:5px 0;
	line-height:22px;
}
.et-05-height{
	width:1100px;
	height:410px;
}
.et-05-content{
	width:990px;
	height:170px;
	margin:0 auto;
}
.et-05-content>div{
	width:430px;
	height:170px;
	float:left;
	color:#b3001d;
	font-size:15px;
}
.et-05-content>div p{
	line-height:25px;
	margin:0;
}



/*   公共部分   */
.pl-07{
	width:1104px;
	height:725px;
	margin:0 auto;
}
.pl-07-title{
	width:1104px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:36px;
	color:#fa9901;
}
.pl-07-nav{
	width:1104px;
	height:30px;
}
.pl-07-nav>div{
	width:552px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	background:#46b09f;
	float:left;
}
.pl-07-nav>div.pl-07-on{
	background:#f6ac0e;
}
.pl-07-box{
	width:1104px;
	height:630px;
	position:relative;
}
.pl-07-box>div{
	width:1104px;
	height:630px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.pl-xx-one{
	text-align:center;
	font-size:13px;
	color:#7d6654;
	height:40px;
	line-height:40px;
	margin-bottom:20px;
	margin-top:20px;
}
.pl-07-one>div{
	float:left;
	width:552px;
	height:313px;
	color:#46b09f;
}
.pl-yz-one{
	background:url("../image/plant/zzpl_03.jpg") no-repeat 2px 5px;
}
.pl-yz-two{
	background:url("../image/et/et_20.jpg") no-repeat 2px 5px;
}
.pl-yz-three{
	background:url("../image/et/et_22.jpg") no-repeat 2px 5px;
}
.pl-yz-four{
	background:url("../image/plant/zzpl_10.jpg") no-repeat 2px 5px;
}
.pl-yz-right{
	float:right;
	width:300px;
	height:270px;
	margin:42px 10px 0 0;
}
.pl-yz-right p{
	margin:0;
	font-size:12px;
}


.pl-xx-two{
	height:280px;
}
.pl-xx-three{
	height:225px;
	margin-top:20px;
	border-bottom:1px solid #46b09f;
}
.pl-xx-two>div{
	width:552px;
	float:left;
	text-align:center;
	font-size:14px;
	color:#71a450;
}
.pl-xx-three>div{
	float:left;
	width:368px;
	text-align:center;
	color:#71a450;
	font-size:14px;
}
.pl-xx-two>div p,.pl-xx-three>div p{
	margin:5px 0;
}

.pl-08{
	width:1102px;
	height:550px;
	margin:10px auto 0 auto;
}
.pl-08-one{
	width:1102px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:36px;
	color:#fa9901;
}
.pl-08-two{
	width:1102px;
	height:500px;
	font-size:14px;
	color:#71a450;
	background:url("../image/et/et_26.jpg") no-repeat;
}
.pl-09{
	width:1102px;
	height:500px;
	margin:0 auto;
	font-size:14px;
	color:#71a450;
	background:url("../image/et/et_28.jpg") no-repeat;
}
.pl-09>div{
	float:left;
}
.pl-08-two>div{
	float:left;
}
.pl-8-x{
	width:300px;
	height:490px;
}
.pl-8-xx{
	width:760px;
	height:500px;
	padding:0 20px;
}
.pl-8-xx p{
	margin:2px 0;
}
.pl-10{
	width:1104px;
	height:230px;
	margin:0 auto;
}
.pl-10>div{
	float:left;
	width:350px;
	height:230px;
	margin:0 9px;
}
.pl-10-one,.pl-10-two{
	width:350px;
	height:40px;
	line-height:40px;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;

}
.pl-10-one{
	background:#71a450;
}
.pl-10-one a:hover{
	background:#88b56a;
}
.pl-10-two{
	background:#7d6654;
}
.pl-10-two a:hover{
	background:#9c897a;
}
.pl-10-three{
	width:350px;
	height:90px;
	line-height:90px;
	color:#ffffff;
	font-size:25px;
	text-align:center;
	font-weight:700;
	background:#71a450;
	margin-bottom:10px;

}
.pl-10-three a:hover{
	background:#88b56a;
}
.pl-10-one a,.pl-10-two a{
	display:block;
	width:350px;
	height:40px;
	color:#ffffff;
	text-decoration:none;
}
.pl-10-three a{
	display:block;
	width:350px;
	height:90px;
	color:#ffffff;
	text-decoration:none;
}
.new-button{
	width:248px;
	height:37px;
	display:block;
	text-align:center;
	background:url("../image/et/et_29.jpg");
	color:#fff;
	font-size:16px;
	text-decoration:none;
	line-height:37px;
	margin:30px auto 0 auto;
}













