@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
.forty-one{
    width:1920px;
    height:621px;
}
.forty-two{
    width:1920px;
    height:600px;
}
.forty-three{
    width:1920px;
    height:601px;
}

















