body{
    margin:0;
    padding:0;
    background:#FFFFFF;
}
/*头部*/
.box{
    width:1920px;
    height:auto;
    margin:0 auto;
/*    position:absolute;
    top:0;
    left:50%;
    margin-left:-960px;*/
}
.top{
    margin:0;
    padding:0;
    position:relative;
}
/* 滚动 */
.slideBox{
    margin:0;
    padding:0;
    width:1920px;
    height:712px;
    overflow:hidden;
    position:relative;
}
.slideBox .bd ul{
    margin:0;
}
.slideBox .bd{
    position:relative;

    z-index:0;   }
.slideBox .bd li{
    list-style:none;
    vertical-align:middle;
    width:1920px!important;
}
.slideBox .bd>div{
    width:1920px!important;
}
.slideBox .bd img{
    width:1920px;
    height:712px;
    display:block;
}
/*导航*/
.nav{
    z-index:9999;
    font-size:14px;
}
.top-nav>div{
    float:left;
}
.top-nav{
    width:1200px;
    height:124px;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-550px;
    z-index:999;
}
.top-nav ul{
    padding:50px 10px 0 10px;
    margin:0;
}
.top-nav ul li{
    list-style:none;
    float:left;
    width:140px;
    height:35px;
    line-height:35px;
    text-align:center;
}

.top-nav a{
    color:#ffffff;
    text-decoration:none;
    width:122px;
    height:35px;
}
.nav-text{
    width:138px;
    height:35px;
    text-align: center;
    margin-bottom:1px;
}
.on{
    background:#7e7564;
    border:1px solid #FFFFFF;
}
.hid-nav{
    display:none;
}
.hid-nav a{
    color:#ffffff;
    text-decoration:none;
}
.hid-nav ol{
    padding:0;
    height:auto;
}
.hid-nav ol li{
    height:35px;
    width:140px;
    line-height:35px;
    background:#236a5a;
    cursor:pointer;
}
.hid-nav ol li:hover{
    background:#f5a72e;
}

.nav-border{
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
}
.list-text{
    font-size:13px;
}
/* 新闻*/
.news{
    width:1120px;
    height:300px;
    position:absolute;
    bottom:14px;
    left:50%;
    margin-left:-560px;
    z-index:9;
}
.news>div{
    float:left;
}
.news-text{
    height:150px;
    background: #f1ede4;
    padding:0;
    width:249px;
    display:block;
}
.news-text p{
    margin:0;
}
.nav-img{
    width:249px;
    height:164px;
}
.news-list{
    height:108px;
}
.nav-mail{
    width:36px;
    height:108px;
    background:#958a78;
}
.news-list>div{
     float:left;
 }
.in-line{
    background:#f1ede4 ;
    height:150px;
    width:610px;
}
.in-line ul{
    padding:0;
    margin:0;
}
.in-line ul li{
    float:left;
    list-style:none;
    margin-right:3px;
}
.news-li{
    margin-top:23px;
}
.news-im{
    margin-top:10px;
    margin-left:7px;
}
.news-text span{
    margin:25px 0 0 15px;
}
.news-text strong{
    font-size:20px;
    height:30px;
    line-height:30px;
}
.news-one,.news-two{
    cursor:pointer;
}
.middle-01{
    margin-top:10px;
    position:relative;
}
.mid-center ul{
    padding:0;
}
.mid-center ul li{
    list-style:none;
    float:left;
    width:220px;
    height:139px;
    margin-right:2px;
}
.img-01{
    background: url('../image/index/in_0001.jpg');
    cursor:pointer;
}
.img-02{
    background: url('../image/index/in_0002.jpg');
    cursor:pointer;
}
.img-03{
    background: url('../image/index/in_0003.jpg');
    cursor:pointer;
}
.img-04{
    background: url('../image/index/in_0004.jpg');
    cursor:pointer;
}
.img-05{
    background: url('../image/index/in_0005.jpg');
    cursor:pointer;
}
.mid-center{
    position:absolute;
    width:1120px;
    height:139px;
    top:0;
    left:50%;
    margin-left:-560px;
}
.mid-center ul{
    margin:0;
    padding:0;
}
.img-01:hover{
    background: url('../image/index/in_0010.jpg');
}
.img-02:hover{
    background: url('../image/index/in_0011.jpg');
}
.img-03:hover{
    background: url('../image/index/in_0012.jpg');
}
.img-04:hover{
    background: url('../image/index/in_0013.jpg');
}
.img-05:hover{
    background: url('../image/index/in_0014.jpg');
}
/*计划/!*!/*/
.mid-bottom ul{
    padding:0;
}
.mid-bottom ul li{
    list-style:none;
    float:left;
    width:261px;
    height:192px;
    margin-right:15px;
}
.img-11{
    background: url('../image/index/in_0006.jpg');
    cursor:pointer;
}
.img-12{
    background: url('../image/index/in_0007.jpg');
    cursor:pointer;
}
.img-13{
    background: url('../image/index/in_0008.jpg');
    cursor:pointer;
}
.img-14{
    background: url('../image/index/in_0009.jpg');
    cursor:pointer;
}

.mid-bottom{
    position:absolute;
    width:1200px;
    height:192px;
    bottom:52px;
    left:50%;
    margin-left:-544px;
}
.mid-bottom ul{
    margin:0;
    padding:0;
}
.img-11:hover{
    background: url('../image/index/in_0015.jpg');
}
.img-12:hover{
    background: url('../image/index/in_0016.jpg');
}
.img-13:hover{
    background: url('../image/index/in_0017.jpg');
}
.img-14:hover{
    background: url('../image/index/in_0018.jpg');
}

.middle-08{
    width:1920px;
    height:184px;
    cursor:pointer;
}
/*蓝光锐刻*/
.middle-06{
    width:1920px;
    height:694px;
    position:relative;
}
.middle-blue{
    width:1150px;
    height:694px;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-575px;
}
.middle-blue ul{
    padding:0;
    margin:0;
}
.middle-blue ul li{
    list-style: none;
    float:left;
    margin-right:20px;
    cursor:pointer;
}
/*活动*/
.middle-07{
    width:1920px;
    height:485px;
    position:relative;
}
.middle-active{
    width:460px;
    height:390px;
    position:absolute;
    top:51px;
    left:53%;
}
.middle-active ul{
    padding:0;
    margin:0;
}
.middle-active ul li{
    list-style: none;
    float:left;
    width:230px;
    height:195px;
    cursor:pointer;
}
/*自信*/
.middle-05{
    width:1920px;
    height:694px;
    position:relative;
}
.link-one,.link-two{
    width:230px;
    height:50px;
    cursor: pointer;
    position:absolute;
}
.link-one{
    bottom:168px;
    left:27%;
}
.link-two{
    top:158px;
    left:61%;
}
/*4658*/
.middle-04{
    width:1920px;
    height:695px;
    position:relative;
}
.link-three{
    width:230px;
    height:50px;
    cursor: pointer;
    position:absolute;
    top:356px;
    left:59%;

}
/*团队*/
.middle-03{
    width:1920px;
    height:693px;
}
/*专家*/
.middle-02{
    width:1920px;
    height:694px;
}






































/*底部样式*/
.bottom{
    width:1920px;
    height:800px;
    background:#393939;
    position:relative;
}
.bottom-box{
    width:1920px;
    height:390px;
    position:relative;
}
.bottom-one>div{
    float:left;
}
.bottom-one{
    width:1000px;
    position:relative;
    top:80px;
    left:50%;
    margin-left:-425px;
}
.bot-list ul{
    padding:0;
    width:150px;
    height:300px;
    float:left;
}
.bot-list>div{
    width:150px;
    height:300px;
    float:left;
}
.bot-list ul li{
    list-style:none;
    float:none;
    text-align: center;
    height:30px;
    line-height:30px;
}
.bot-list a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:13px;
}
.bot-logo{
    padding:20px 30px 0 0;
}
.bottom-two{
    width:1920px;
    height:150px;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    padding:50px 0;
}
.bottom-two-box{
    width:840px;
    height:120px;
    margin:0 auto;
}
.bottom-two-box>div{
    float:left;
    margin-right:20px;
}
.text-center{
    text-align:center;
    color:#ffffff;
}
.bottom-two-box p{
    margin:0;
}
.text-phone{
    margin-left:30px;
}
.bottom-three{
    padding-top:15px;
}
/*右侧悬浮菜单*/
.right-nav{
    height:320px;
    width:238px;
    position:fixed;
    right:0;
    bottom:50px;
    z-index:9999;
}
.right-nav>div{
    float:right;
}
.right-logo{
    margin-top:105px;
    display:none;
}


































