@charset "utf-8";
body{
	margin:0;
	padding:0;
	background:#F8FCFD;
	font-family: "微软雅黑";
}
.plant-01{
    width:1920px;
    height:500px;
	background:url("../image/mb/mb_02.jpg") no-repeat;
}
.plant-01-one{
	width:1000px;
	height:492px;
	margin:0 auto;
	position:relative;
}
.plant-01-button{
	width:166px;
	height:56px;
	position:absolute;
	right:0;
	bottom:23px;
	cursor:pointer;
	border-radius:5px;
	border:0;
}
.plant-01-button a{
	display:block;
	width:175px;
	height:55px;
}
.pl-list-mb{
	width:1920px;
    height:50px;
	background:url("../image/zj/sazj_03.jpg");
}
.list-text-zj{
	width:1110px;
	height:50px;
	line-height:50px;
	margin:0 auto;
}
.list-text-zj a{
	float:left;
	text-decoration:none;
	color:#ffffff;
	display:block;
	width:185px;
	height:50px;
	font-size:16px;
	text-align:center;
	background:url("../image/zj/ztt_03.jpg");
}
.list-text-zj a:hover{
	background:url("../image/zj/zzt_03.jpg");
}
.pl-title{
	width:1105px;
	height:101px;
	margin:0 auto;
	background:url("../image/mb/mb_03.jpg");
}
.pl-title>div{
    width:946px;
	height:50px;
	float:right;
	font-size:13px;
	color:#00a1b7;
	padding:40px 0 0 0;
}
.pl-title p{
	margin:0;
	line-height:25px;
}

/* 第一页 */
.zj-bg{
	width:1920px;
	height:660px;
	background:#F8FCFD;
}
.mb-01{
	width:1104px;
	height:468px;
	margin:0 auto;
	position:relative;
	background:url("../image/mb/mb_05.jpg") no-repeat;
}
.mb-01>div{
	float:left;
	height:400px;
}
.mb-01-one{
	width:300px;
}
.mb-01-two{
	width:780px;
	color:#00a1b7;
}
.mb-01-title-01{
	font-size:36px;
	margin:36px 0 0 0;
}
.mb-01-title-02{
	font-size:25px;
	font-weight:400;
	margin:20px 0 5px 0;
}
.mb-01-title-03{
	font-size:14px;
	margin:0 0 30px 0;
}
.mb-01-title-04{
	font-size:18px;
	margin:20px 0 5px 0;
}
.mb-01-title-05{
	font-size:17px;
	margin:0;
}
.mb-01>a{
	dispaly:block;
	width:110px;
	height:45px;
	position:absolute;
	right:33px;
	bottom:10px;
}
.mb-01>a:hover{
	background:url("../image/mb/mb_04.jpg") no-repeat;
}
/* 第二页  */
.mb-02{
	width:1104px;
	height:88px;
	text-align:center;
	line-height:88px;
	font-size:36px;
	color:#186d9d;
	margin:0 auto;
}
.mb-02 p{
	margin:0;
}
/* 第三页  */
.mb_03{
	width:1920px;
	height:362px;
	background:url("../image/mb/mb_07.jpg") no-repeat;
}
.mb_03_box{
	width:1039px;
	height:362px;
	margin:0 auto;
}
.mb_03_box-one>div{
	float:left;
	height:174px;
	font-size:14px;
	color:#fff;
}
.mb_03_box-one p{
	line-height:24px;
	margin:59px 0 0 0;
}
.mb-01-one{
	position:relative;
}
.mb-01-one a{
	display:block;
	width:235px;
	height:144px;
	top:10px;
	position:absolute;
	left:0;
	top:21px;
}
.mb-01-one a:hover{
	background:url("../image/mb/mb_19.jpg") no-repeat;
}
.mb_03_box-two>div{
	float:left;
	height:122px;
	color:#fff;
	padding-top:35px;
}
.mb_03_box-two strong{
	font-size:16px;
}
.mb_03_box-two p{
	font-size:14px;
	margin:10px 0 0 0;
}
/* 第四页  */
.mb_04{
	width:1039px;
	height:336px;
	background:url("../image/mb/mb_09.jpg") no-repeat;
	margin:0 auto;
}
.mb-04-one>div{
	float:left;
	height:179px;
	color:#00a1b7;
	font-size:14px;
}
.mb-04-one p{
	margin:55px 0 0 0;
	line-height:22px;
}
.mb-04-a{
	position:relative;
}
.mb-04-a a{
	display:block;
	width:235px;
	height:144px;
	position:absolute;
	top:27px;
	left:1px;
}
.mb-04-a a:hover{
	background:url("../image/mb/mb_20.jpg") no-repeat;
}
.mb-04-two>div{
	float:left;
	height:130px;	
	color:#fff;
	padding-top:28px;
}
.mb-04-two strong{
	font-size:16px;
}
.mb-04-two p{
	font-size:14px;
	margin:10px 0 0 0;
}
/* 第五页  */
.mb_05{
	width:1039px;
	height:372px;
	background:url("../image/mb/mb_11.jpg") no-repeat;
	margin:0 auto;
}
.mb-05-one>div{
	float:left;
	height:179px;
	color:#d89731;
	font-size:14px;
}
.mb-05-one p{
	margin:58px 0 0 0;
	line-height:22px;
}
.mb-05-a{
	position:relative;
}
.mb-05-a a{
	display:block;
	width:235px;
	height:144px;
	position:absolute;
	top:29px;
	left:1px;
}
.mb-05-a a:hover{
	background:url("../image/mb/mb_18.jpg") no-repeat;
}
.mb-05-two>div{
	float:left;
	height:130px;	
	color:#fff;
	padding-top:28px;
}
.mb-05-two strong{
	font-size:16px;
}
.mb-05-two p{
	font-size:14px;
	margin:10px 0 0 0;
}
/* 第六页  */
.mb_06{
	width:1920px;
	height:337px;
	background:url("../image/mb/mb_12.jpg") no-repeat;
}
.mb_06_box{
	width:1038px;
	height:336px;
	margin:0 auto;
}
.mb-06-height{
	width:1000px;
	height:125px;
}
.mb-06-one>div{
	width:259px;
	height:185px;
	float:left;
	color:#fff;
	text-align:center;
}
.mb-06-one-01{
	font-size:16px;
	font-weight:300;
	margin:10px 0 0 0;
}
.mb-06-one-02{
	font-size:12px;
	margin:25px 0 0 0;
}
.mb-06-one-02 a{
	text-decoration:none;
	color:#fff;
}
.mb-06-one-02 a:hover{
	text-decoration:underline;
}
.mb-06-one-03{
	font-size:13px;
	margin:7px 0 0 0;
}


/* 医院实力 */
.pl-07{
	width:1104px;
	height:760px;
	
	margin:0 auto;
}
.pl-07-title{
	width:1104px;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:36px;
	color:#00a1b7;
}
.pl-07-nav{
	width:1104px;
	height:30px;
}
.pl-07-nav>div{
	width:552px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	background:#46b09f;
	float:left;
}
.pl-07-nav>div.pl-07-on{
	background:#f6ac0e;
}
.pl-07-box{
	width:1104px;
	height:630px;
	position:relative;
}
.pl-07-box>div{
	width:1104px;
	height:630px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.pl-xx-one{
	text-align:center;
	font-size:13px;
	color:#7d6654;
	height:40px;
	line-height:40px;
	margin-bottom:20px;
	margin-top:20px;
}
.pl-07-one>div{
	float:left;
	width:552px;
	height:313px;
	color:#46b09f;
}
.pl-yz-one{
	background:url("../image/plant/zzpl_03.jpg") no-repeat 2px 5px;
}
.pl-yz-two{
	background:url("../image/et/et_20.jpg") no-repeat 2px 5px;
}
.pl-yz-three{
	background:url("../image/zj/zjj_03.jpg") no-repeat 2px 5px;
}
.pl-yz-four{
	background:url("../image/plant/zzpl_10.jpg") no-repeat 2px 5px;
}
.pl-yz-right{
	float:right;
	width:300px;
	height:270px;
	margin:42px 10px 0 0;
}
.pl-yz-right p{
	margin:0;
	font-size:12px;
}


.pl-xx-two{
	height:280px;
}
.pl-xx-three{
	height:225px;
	margin-top:20px;
	border-bottom:1px solid #46b09f;
}
.pl-xx-two>div{
	width:552px;
	float:left;
	text-align:center;
	font-size:14px;
	color:#00a1b7;
}
.pl-xx-three>div{
	float:left;
	width:368px;
	text-align:center;
	color:#00a1b7;
	font-size:14px;
}
.pl-xx-two>div p,.pl-xx-three>div p{
	margin:5px 0;
}

.pl-08{
	width:1102px;
	height:600px;
	margin:10px auto 0 auto;
}
.pl-08-one{
	width:1102px;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:36px;
	color:#00a1b7;
}
.pl-08-two{
	width:1102px;
	height:500px;
	font-size:14px;
	color:#00a1b7;
	background:url("../image/mb/mb_15.jpg") no-repeat;
}
.pl-09{
	width:1102px;
	height:530px;
	margin:0 auto;
	font-size:14px;
	color:#00a1b7;
	background:url("../image/mb/mb_17.jpg") no-repeat;
}
.pl-09>div{
	float:left;
}
.pl-08-two>div{
	float:left;
}
.pl-8-x{
	width:300px;
	height:490px;
}
.pl-8-xx{
	width:760px;
	height:500px;
	padding:0 20px;
}
.pl-8-xx p{
	margin:2px 0;
}
.pl-10{
	width:1104px;
	height:230px;
	margin:0 auto;
}
.pl-10>div{
	float:left;
	width:350px;
	height:230px;
	margin:0 9px;
}
.pl-10-one,.pl-10-two{
	width:350px;
	height:40px;
	line-height:40px;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;

}
.pl-10-one{
	background:#00a1b7;
}
.pl-10-one a:hover{
	background:#00c3de;
}
.pl-10-two{
	background:#7d6654;
}
.pl-10-two a:hover{
	background:#9c897a;
}
.pl-10-three{
	width:350px;
	height:90px;
	line-height:90px;
	color:#ffffff;
	font-size:25px;
	text-align:center;
	font-weight:700;
	background:#00a1b7;
	margin-bottom:10px;

}
.pl-10-three a:hover{
	background:#00c3de;
}
.pl-10-one a,.pl-10-two a{
	display:block;
	width:350px;
	height:40px;
	color:#ffffff;
	text-decoration:none;
}
.pl-10-three a{
	display:block;
	width:350px;
	height:90px;
	color:#ffffff;
	text-decoration:none;
}
.new-button{
	width:248px;
	height:37px;
	display:block;
	text-align:center;
	background:url("../image/mb/mb_21.jpg");
	color:#fff;
	font-size:16px;
	text-decoration:none;
	line-height:37px;
	margin:30px auto 0 auto;
}













