@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
/*���Ĳ���*/
.center-box{
    width:1120px;
    height:auto;
    margin:0 auto;
    zoom:1;
    overflow: hidden;
}
.title{
    width:1120px;

    border-bottom:1px solid #acacac;
    font-size:15px;
    padding-top:30px;
}
.title p{
    margin:0 0 5px 0;
}
.tab-box>div{
    float:left;
}
.tab-one ul{
    padding:0;
    border-top:1px solid #acacac;
    width:180px;
    height:230px;
}
.tab-one ul li{
    list-style: none;
    border-bottom:1px solid #acacac;
    width:180px;
    height:50px;
    line-height:50px;
    background:url('../image/action/hui_10.jpg') no-repeat right center;
    cursor: pointer;
}
.tab-one ul li p{
    margin:0;
}
.tab-one ul li.onn{
    background:url('../image/action/hui_04.jpg') no-repeat right center;
    color:#f5a72e;
}
.tab-two{
    height:1200px;
}
.tab-two>div{
    display:none;
    width:900px;
    min-height: 600px;
    margin:16px 0 0 40px;
}
.news-box{
    width:900px;
    height:180px;
    border-radius:10px;
    background:#acacac;
    cursor:pointer;
}
.news-box ul{
    padding:0;
}
.news-box ul li{
    list-style: none;
    float:left;
}
.action-one{
    width:104px;
    height:180px;
    background:#f5a72e;
    border-radius:10px 0 0 10px;
}
.action-two{
    width:310px;
    height:180px;
}
.action-two img{
    margin:10px;
}
.action-three{
    width:475px;
    height:180px;
    color:#ffffff;
}
.action-three strong{
    font-size:15px;
}
.action-title{
    border-bottom:1px solid #ffffff;
    width:475px;
    padding:15px 0 10px 0;
}
.action-three p{
    margin:5px 0;
}
.text-center{
    text-align:center;
}
.box-button{
    width:180px;
    height:180px;
    background:url('../image/action/hui_15.jpg');
    background-size:180px 180px;
    margin-bottom:50px;
}
.box-button>div{
    width:90px;
    height:90px;
    float:left;
    cursor: pointer;
}
.tab-box{
    width:1120px;
    height:auto;
    zoom:1;
    overflow: hidden;
}






/*������Ϣҳ*/
.tab-three{
    width:900px;
    height:auto;
    margin:20px 0 0 40px;
    zoom:1;
    overflow:hidden;
}
.news-01{
    width:900px;
    height:50px;
    line-height:50px;
    background: #e3e3e3;
    color:#8b8b8b;
}
.news-01 p{
    margin:0 0 0 20px;
    padding:0;
}
.news-02{
    width:900px;
    height:110px;
    color:#8b8b8b;
    padding-top:40px;
}
.news-02 strong{
    margin:0 0 0 20px;
    padding:0;
    font-size:30px;
}
.news-02 p{
    margin:0 0 0 20px;
    padding:0;
    font-size:20px;
}
.news-03{
    width:900px;
    height:auto;
    zoom:1;
    overflow:hidden;
    color:#7f7663;
}
.news-03>div{
    float:left;
    width:400px;
    height:auto;
    zoom:1;
    overflow:hidden;
    margin-bottom:20px;
}
.news-03>div p{
    margin:0;
}

.news-04{
    width:900px;
    height:270px;
}
.news-05{
    width:900px;
    height:220px;
}
.news-05>div{
    width:270px;
    height:210px;
    float:left;
}
.news-05 ul{
    padding:0;
    margin:0;
}
.news-05 ul li{
    list-style:none;
    line-height:30px;
    height:30px;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-05 ul li a{
    color:#7f7665;
    text-decoration:none;
}
.news-05 ul li p{
    color:#7f7665;
    margin:5px 0 0 33px;

}
.five01,.five02,.five03{
    width:270px;
    border-bottom:1px solid #696969;

}
.five01{
    background:url('../image/info/info_16.jpg') no-repeat left center;
}
.five02{
    background:url('../image/info/info_18.jpg') no-repeat left center;
}
.five03{
    background:url('../image/info/info_20.jpg') no-repeat left center;
}

.news-adv{
     width:900px;
     height:180px;
}
.adv{
    float:left;
    width:600px;
    height:180px;
}
.share{
    float:right;
    width:235px;
    height:70px;
}
.news-next{
    width:900px;
    height:78px;
    border-top:1px solid #676767;
    border-bottom:1px solid #676767;
}
.up{
    float:left;
    width:auto;
    min-width:150px;
    height:78px;
    cursor:pointer;
    color:#7f7665;
}
.next{
    float:right;
    width:auto;
    min-width:150px;
    height:78px;
    text-align:right;
    cursor:pointer;
    color:#7f7665;
}


.tab-one{
	margin-top:17px;
}


.nav-text{
	margin:0;
}
.hid-nav a:hover{
	color:#ffffff;
	text-decoration:none;
}

.bot-list ul{
	margin-top:16px;
}





























