@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
.talk{
    width:1120px;
    height:1050px;
    margin:0 auto;
    padding-top:80px;
}
.talk>div{
    float:left;
}
.talk-logo{
    width:200px;
    height:400px;
    cursor:pointer;
}
.talk-center{
    width:820px;
    height:1050px;
    margin-left:100px;
    background:url('../image/talk/yuan_05.jpg') no-repeat;
}
.talk-center p{
    margin:0;
    line-height:35px;
    font-family: big;
    font-size:21px;
}
.talk-center strong {
    font-size: 25px;
    font-family: xo;
}
@font-face{
    font-family:big;
    font-style:normal;
    src:url('../font/fz.TTF');
}
@font-face{
    font-family:xo;
    font-style:normal;
    src:url('../font/FZKTJW.TTF');
}










