@charset "utf-8";
body{
    margin:0;
    padding:0;
    background:#FFFFFF;
    font-family: "微软雅黑";
}
.team{
    width:1100px;
    height:1170px;
    margin:0 auto;
}
.team-box>div{
    float:left;
}
.team-list{
    padding:20px 10px 0 10px;
    border-top:1px solid #5f5f5f;
}
.team-list ul{
    padding:0;
    margin:0;
}
.team-list ul li{
    list-style: none;
    float:left;
    width:210px;
    height:255px;
    cursor:pointer;
    margin-right:5px;
}
.team-list ul li p{
    margin:5px;
}
.team-nav-one{
    border-bottom:1px solid #5f5f5f;
    padding:20px 0 0 0;
}
.team-nav-two{
    padding:50px 10px 0 10px;
}

.text-box{
    width:270px;
    height:355px;
    background:#f4f9fd;
}
.in-box{
    width:240px;
    height:300px;
    margin:30px 0 0 15px;
    position:relative;
}
.team-box{
    width:1100px;
    height:365px;
    padding:0 10px 10px 10px;
}
.team-button{
    width:200px;
    height:43px;
    line-height:43px;
    text-align:center;
    color:#ffffff;

    background:#f6a72e url('../image/term/te_06.jpg') no-repeat right center;
}

.audio-box{
    width:790px;
    height:355px;
}
.in-box p{
    margin:0;
    font-size:13px;
    height:20px;
    line-height:20px;
}
.in-box strong{
    line-height:30px;
}

.team-button{
    position:absolute;
    right:0;
    bottom:0;
    cursor:pointer;
}
.video-go strong{
    margin:5px;
    font-weight:normal;
}
.video-go p{
    font-size:12px;
}






