<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>

<!--标题 start-->
<div class="title clearfix">
   <h1>育人模式<b>6个百分百</b></h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont clearfix">

    <!--课程 start-->
    <ul class="course">
        <p class="pb20">这是我们为全面提升学生整体素质而进行的育人模式的简称，即：</p>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-1.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时。</i> 
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-2.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动<br>
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时节假日主动走进社会，走入社区参与各种类型的活动，。</i>
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-3.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时。</i> 
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-4.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时。</i> 
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-5.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时。</i> 
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    	<li>
    	    <b><img src="__PUBLIC__/images/iocn/kc-6.png"></b>
    		<p>
    		    100%的学生完成100个课时志愿者实践活动
    		    <i>学生利用周末、寒暑假或节假日主动走进社会，走入社区参与各种类型的活动，三年累计不少于100课时。</i> 
    		</p>
    		<a href="#">查看详情<img style="display: inline-block;" src="__PUBLIC__/images/iocn/Text02.png"></a>
    	</li>
    </ul>
	<!--课程 end-->
</div>
<!--内容 end-->
<include file="Index/footer" />
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/osSlider.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>



