<include file="Index/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<div class="warp">
    <h3>新闻中心 News</h3>
    <ul class="clearfix newsBox" id="lxf-box">
        <foreach name="list" item="vo">
            <li>
                <div class="Img">
                    <img src="__PUBLIC__/{$vo['picture']}" alt="" />
                    <span></span>
                </div>
                <div class="Text">
                    <h2>{$vo['title']}</h2>
                    <p>{$vo['summary']}</p>
                    <span><a href="{:U('News/detail', array('id'=>$vo['id']))}">查看详细</a><i>{$vo['create_time']}</i></span>
                </div>
            </li>
        </foreach>
    </ul>

    <div class="page">
        <!--{$page}-->
        <a href="{:U('News/newslist')}&p=1" class="first"></a>
        <if condition="$count elt 5">
            <for start="1" end="$count" comparison="elt">
                <a href="{:U('News/newslist')}&p={$i}"  <if condition="$i eq $p ">class="on" </if> >{$i}</a>
            </for>
        <else />
            <for start="1" end="$count" >
                <a href="{:U('News/newslist')}&p={$i}"  <if condition="$i eq $p ">class="on" </if> >{$i}</a>
            </for>
            <a href="#" class="susp">...</a>
            <a href="{:U('News/newslist')}&p={$count}"  <if condition="$i eq $p ">class="on" </if>>{$count}</a>
        </if>
        <a href="{:U('News/newslist')}&p={$count}" class="last"></a>
        <span>
            <input type="text" id="p" value="">
            <input type="button" value="转到此页" class="btn">
        </span>
    </div>
</div>

<include file="Index/footer" />
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //转到此页
    $(".btn").click(function () {
        var p = $("#p").val();
        var count = "{$count}";
        p = parseInt(p);
        count = parseInt(count);
        //判断p 的值不为空且为正整数
        if (p == '' || p > count || p <= 0) {
            return false;
        }
        window.location.href = "{:U('News/newslist')}&p=" + p;
    });
    /*
     原理：1.把所有的li的高度值放到数组里面
     2.第一行的top都为0
     3.计算高度值最小的值是哪个li
     4.把接下来的li放到那个li的下面
     作者：刘晓帆
     博客地址：[url]http://liuxiaofan.com[/url]
     编写时间：2012年6月9日
     */
    var max_H;
    var margin = 20;//这里设置间距
    var li = $(".newsBox li");//这里是区块名称
    var li_W = li[0].offsetWidth + margin;//取区块的实际宽度（包含间距，这里使用源生的offsetWidth函数，不适用jQuery的width()函数是因为它不能取得实际宽度，例如元素内有pandding就不行了）
    function liuxiaofan() {
        //定义成函数便于调用
        var h = [];//记录区块高度的数组
        var n = 1280 / li_W | 0;//窗口的宽度除以区块宽度就是一行能放几个区块
        for (var i = 0; i < li.length; i++) {
            //有多少个li就循环多少次
            li_H = li[i].offsetHeight;//获取每个li的高度
            if (i < n) {
                //n是一行最多的li，所以小于n就是第一行了
                h[i] = li_H;//把每个li放到数组里面
                li.eq(i).css("top", 0);//第一行的Li的top值为0
                li.eq(i).css("left", i * li_W);//第i个li的左坐标就是i*li的宽度
            }
            else {
                min_H = Math.min.apply(null, h);//取得数组中的最小值，区块中高度值最小的那个
                minKey = getarraykey(h, min_H);//最小的值对应的指针
                h[minKey] += li_H + margin;//加上新高度后更新高度值
                li.eq(i).css("top", min_H + margin);//先得到高度最小的Li，然后把接下来的li放到它的下面
                li.eq(i).css("left", minKey * li_W);	//第i个li的左坐标就是i*li的宽度
            }
        }
        max_H = Math.max.apply(null, h);
        $('.newsBox').css('height', max_H);
    }
    /* 使用for in运算返回数组中某一值的对应项数(比如算出最小的高度值是数组里面的第几个) */
    function getarraykey(s, v) {
        for (k in s) {
            if (s[k] == v) {
                return k;
            }
        }
    }

    /*这里一定要用onload，因为图片不加载完就不知道高度值*/
    window.onload = function () {
        liuxiaofan();
    };
    /*浏览器窗口改变时也运行函数*/
    window.onresize = function () {
        liuxiaofan();
    };

</script>
