<include file="Index/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/>
<!--标题 start-->
<div class="title clearfix">
   <h1 class="pt25">课程设置</b></h1>	
</div>
<!--标题 end-->

<!--内容 start-->
<div class="cont  bt clearfix mt80">

<!--学校机构 start-->
    <ul class="course org clearfix">
        <img src="__PUBLIC__/images/img/ing.jpg">
    </ul>
	<!--学校机构 end-->
</div>
<!--内容 end-->


<include file="Index/footer" />
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/osSlider.js" ></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>



