<include file="Index/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/detail.css"/>
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/reset.js" type="text/javascript" charset="utf-8"></script>
<!--内容-->
<div class="detail">
    <div class="detailTop">
        <div>
            <h5>
                <if condition="$type eq 1">特辑
                    <elseif condition="$type eq 2"/>风物志
                    <elseif condition="$type eq 3"/>科学教研
                    <elseif condition="$type eq 4"/>对外交流
                </if>
            </h5>
        </div>
    </div>

    <div class="detailBox clearfix" style="border-bottom: 1px solid #595757; margin-bottom: 50px;">
        <div class="detailBoxRight">
            <div class="seat">
                <i><a href="{:U('News/index')}">首页</a></i><i>></i>
                <i><a href="{:U('News/index')}">发现</a></i><i>></i>
                <i><a href="#"> 
                        <if condition="$type eq 1">特辑
                            <elseif condition="$type eq 2"/>风物志
                            <elseif condition="$type eq 3"/>科学教研
                            <elseif condition="$type eq 4"/>对外交流
                        </if>
                    </a></i>
            </div>

            <div class="Text" style='margin-top:10px;'>
                <ul class="img-txt">
                    <volist name="article_list_img_list" id="v">
                        <a href="{:U('Discover/detail', array('id'=>$id))}">
                            <p><img src="__PUBLIC__/{$v['img_path']}" width="850" height="500"/></p></a>                        
                    </volist>
                    <volist name="list" id="vo">
                        <li>
                            <a href="{:U('Discover/detail', array('id'=>$vo['id']))}">
                                <img src="__PUBLIC__/{$vo['picture']}" width="275" height="148">
                                <b>{$vo['title']}</b>
                                <i>{$vo['create_time']}</i>
                                <p class="textflow">{$vo['summary']}</p>
                            </a>
                        </li>
                    </volist>
                </ul>
                <a href="#" class="backtop"><img src="__PUBLIC__/images/img/back-top.jpg" style="float: right;margin: 50px 0 0px 0;"></a>
            </div>
        </div>
        <div class="detailBoxLeft">
            <h6>热点</h6>
            <ul class="correlation">
                <foreach name="article_list" item="vo">
                    <li class="clearfix">
                        <a href="{:U('Discover/detail', array('id'=>$vo['id']))}"><img src="__PUBLIC__/{$vo['picture']}" alt="" />
                            <p class="textflow" style='overflow: hidden;'>{$vo['summary']|htmlspecialchars_decode}</p></a>
                    </li>
                </foreach>
            </ul>

            <div class="assortment">
                <h6>分类</h6>
                <ul>
                    <foreach name="category_list" item="vo">
                        <li><a href="{:U('Discover/detail',array('id'=>$vo['id']))}">>&emsp;{$vo['name']}</a></li>
                    </foreach>
                </ul>
            </div>
            <notempty name="key_words">
                <div class="pag">
                    <h6>标签</h6>
                    <div>
                        <foreach name="key_words" item="words" key='k'>    
                            <if condition="$words neq '' ">
                                <a href="{:U('Discover/discoverList',array('key_words'=>$words,'type'=>$type))}">{$words}</a>
                            </if>
                        </foreach>
                    </div>
                </div>
            </notempty>
        </div>
    </div>
</div>

<include file="Index/footer" />
<script type="text/javascript">
    $(function () {
        $(".textflow").each(function () {
            //字符个数
            var maxwidth = 50;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + "...");
            }
        });
    });
</script>

