

.detail{
	width:100%;
}
.detailTop{
	width:100%;
	margin: 20px 0;
	border-bottom: 1px solid #000;
}
.detailTop div{
	width:1280px;
	margin: 0 auto;
	height:60px;
	line-height: 60px;
}
.detailTop h5{
	font-size:30px;
	color:#595757;
	float: left;
}
.detailTop i{
	float: right;
	width:370px;
}


.detailBox{
	width:1280px;
	margin:  0 auto;
}

.detailBoxRight{
	float:left;
	width:850px;
	padding:30px 0;
}

.seat{
	margin: 15px auto;
}
.seat a,.seat i{
	color:#524f4e;
	font-size:14px;
	padding:0 10px;
}
.seat i{
	padding:0;
}

.Img{
	width:100%;
}
.Img img{
	width:100%;
	height:auto;
}

.Text h6{
	font-size:18px;
	color:#3e3a39;
	margin-top: 30px;
}
.Text p{
	font-size:14px;
	color:#3e3a39;
	line-height: 25px;
	margin-top: 30px;
	text-indent: 2em;
}


.detailBoxLeft{
	float: right;
	width:370px;
	padding:30px 0;
}

.detailBoxLeft h6{
	font-size:24px;
	color:#595757;
	line-height: 30px;
}
.correlation{
	height:490px;
}
.correlation li{
	margin: 20px 0;
}
.correlation img{
	width:150px;
	height:150px;
	float: left;
}
.correlation p{
	float:right;
	width:210px;
	color:#524f4e;
	line-height: 21px;
	height:150px;
	overflow-x: auto;
}


.assortment{
	padding-top:30px;
}

.assortment li{
	line-height: 45px;
	border-bottom: 1px solid #c9caca;
}
.assortment li a{
	color:#524f4e;
	font-size:14px;
}


.pag{
	padding-top:30px;
}
.pag h6{
	margin-bottom: 20px;
}
.pag a{
	display: inline-block;
	padding:0 13px;
	line-height: 34px;
	border: 1px solid #595757;
	color: #595757;
	margin-right: 10px;
	margin-bottom: 10px;
}


.img-txt li{float: left;width: 275px; margin:10px 3px 0 3px;font-size: 12px; border: 1px solid #e6e6e6;min-height: 368px;}
.img-txt li b{ color: #3e3a39;font-size: 15px; padding:20px 15px 0 15px; display: block; }
.img-txt li i{color: #b5b5b5;padding: 20px 15px; display: block;}
.img-txt li p{color: #505050;text-indent: 0;margin-top: 0; padding: 0 15px; margin-bottom: 35px;}
.img-txt a:hover{text-decoration: none;}
.img-txt .backtop { text-align: right; display: block;}
.img-txt .backtop img{float: right; margin-top: 50px;}









