body{font-family: "微软雅黑";}
.title{background: url(../images/img/tit-bg.jpg) no-repeat;background-size: 100% 96px;width: 100%; height: 96px; 
display: block; }
.title h1{width:860px; margin: 0 auto; font-size: 30px; padding-top: 15px;color: #fff; 
text-shadow:1px 1px 1px #333;}
.title h1 b{display: block; font-size: 18px; font-weight: normal;}
.cont{width: 1280px; margin: 40px auto;}

/*课程-六个百分点*/
.course{ width: 860px; margin: 0 auto;}
.course p{font-size: 16px;color: #3e3a39;}
.course li{float: left;margin-right: 10px;margin-top: 10px;  width:370px; background:#f5f5f5; padding: 30px 25px; }
.course li b{float: left;min-height: 155px;padding-right: 20px;}
.course li p{ font-size: 18px;font-weight: bold;min-height:150px;}
.course li p i{font-style:normal;font-size: 12px; color: #919191;display: block;padding-top: 25px;line-height: 20px;}
.course li a{color: #a40000;font-size: 15px;display: block;float: right;}
.course li a img{vertical-align: -5px;padding-left: 5px;}

/*校园简介*/
.campus{}
.campus h2{font-size: 20px;text-align: center; padding-bottom: 20px;  }
.campus .cam-cont{width: 850px; padding: 30px 130px;margin:0px auto;background:#f7f7f7;display: block;}
.campus p{font-size: 15px;line-height: 25px;padding-top: 30px;text-indent: 2em;}
.campus .img{height: 360px; padding-top: 30px;}
.campus .img b{float: left;display: block;width: 550px; height: 360px;overflow: hidden;}
.campus .img ul{float: right;}
.campus .img ul li{width: 290px;height: 115px;overflow: hidden; padding-bottom: 7px;}
.campus p.ti0{text-indent: 0;}
.back-top{text-align: center;display: block; clear: both; padding: 30px 0; }

/*新闻中心*/
.new-centre{}
.new-centre .tit{font-size: 25px;color: #595757;line-height: 30px;padding-bottom: 10px;
border-bottom: 1px solid #595757; display: inline-block;}
.new-centre .tit i{font-style: normal; padding-left: 8px; }
.new-centre ul{border-bottom: 1px solid #595757; padding-left: 14px;padding-bottom: 30px;}
.new-centre li{float: left; width: 400px;margin-right: 22px; background: #f2f2f3; padding-bottom: 30px; margin-top:30px; }
.new-centre li b img{width: 400px;height:215px;overflow: hidden;   border-bottom: 3px solid #d6a760;}
.new-centre li p{background:url(../images/iocn/Text01.png)  left 6px no-repeat;
 background-size: 20px 20px;display: block; padding-left: 30px;color: #595757;font-size: 22px;
 min-height: 190px; margin: 30px 35px 0px 20px;}
.new-centre li p i{display: block;  clear: both; color: #1e1e1e;font-size: 12px;line-height: 18px;font-style: normal;padding-top: 20px;}
.new-centre li a{padding: 0 30px 0px 50px;}
.new-centre li a strong{padding-right: 35px; color: #c9caca;font-size: 12px; float: right;font-style: normal;}

/*分页*/
.page{ padding-top: 30px;  clear: both; padding-bottom: 80px; }
.page a{display: block;float: left; width: 36px; height: 36px;line-height: 36px; text-align: center; border:1px solid #595757;margin-left:15px; color: #3e3a39;font-size: 16px; } 
.page a:hover,.page a.on{background: #ca4636;color: #fff;border:1px solid #ca4636;}
.page a.first{background:url(../images/iocn/page-f-1.jpg);background-size: 38px 38px;border:none;height: 38px; width: 38px;}
.page a.last{background:url(../images/iocn/page-l-1.jpg);background-size: 38px 38px;border:none;height: 38px; width: 38px;}
.page a.susp,.page a.susp:hover{border:none; background:#fff;color: #3e3a39;text-decoration: none; }
.page a.first:hover{background:url(../images/iocn/page-f-2.jpg);background-size: 38px 38px;}
.page a.last:hover{background:url(../images/iocn/page-l-2.jpg);background-size: 38px 38px;}
.page span{ display: block;float: right;padding-right: 30px; }
.page span input{border:1px solid #595757;width:45px; height: 36px;line-height: 36px;text-align: center;}
.page span input.btn{background: #ca4636;color: #fff;border:1px solid #ca4636; font-size: 15px;height: 38px;
line-height: 36px;width: 80px;  text-align: center;}

/*学校机构*/
.contact-way{clear: both;display: block;vertical-align: middle; padding-bottom: 70px;padding-top:10px;}
.contact-way dd{float: left;color:#090909;width: 33%;}
.contact-way dd .tit{ background:url(../images/iocn/line-bg.jpg) repeat-x center;margin-right: 40px;}
.contact-way dd .tit b{background: #fff;padding-right:12px; font-weight: bold; font-size: 15px;}
.contact-way dd p{font-size: 12px;line-height: 24px; }
.contact-way dd p img{ padding-right: 20px; vertical-align: -2px;}

/*学校领导*/
.lead{ width:850px;margin: 0 auto;}
.lead .saying {color: #3e3a39;font-size: 15px;}
.lead .saying .txt{ color: #3e3a39;font-size: 15px;line-height: 22px;width:700px; padding-left: 10px; }
.lead .saying p{ padding-top: 20px;clear: both;text-align: right; padding-right: 80px; }
.lead h2{background:url(../images/iocn/line-bg.jpg) repeat-x center; margin-top: 40px; clear: both;}
.lead h2 b{background: #fff;padding-right:12px; font-weight: bold; font-size: 15px; color: #090909;}
.master dt{color: #004985;font-weight: bold; padding-bottom: 20px; padding-top: 20px;}
.master dd{float: left;}

.master dd b{ font-size: 35px; color: #004985; }
.master dd i{ font-size: 20px;font-style: normal;display: block;color: #004985; font-weight: bold; padding-top: 5px;}
.master dd p{ color: #3e3a39;font-size: 12px; line-height: 22px; padding-top: 20px; }
.master .pilot{ width: 97%; background: #ebebeb; color: #090909;font-size: 12px; border:none; }
.master .pilot tr{height: 48px; line-height: 48px;}
.master .pilot th{text-align: right; font-weight: normal;padding-right: 20px;border-right: 1px solid #fff; width: 40%;}
.master .pilot-1 th{width: 18%;}
.master .pilot td{text-align: left; padding-left: 20px;width: 60%;}
.master .pilot td a{color: #090909;}
.master .pilot tr{}
.bg-w{background: #f5f5f5;}


/*校训*/
.motto{width: 850px;margin: 0 auto;}
.motto .txt{padding: 0 30px;color: #3e3a39; font-size: 25px; line-height: 60px;}
.motto .txt span{color: #004985;font-size: 30px;font-weight: bold;display: block;}
.motto .txt b{ color: #3e3a39; font-size: 25px;}
.motto p img{padding-top:40px;}

/*学校概况*/
.situ-cont{}
.situ-cont  h3{background:url(../images/iocn/line-bg.jpg) repeat-x center;
 margin-top: 40px; clear: both; }
.situ-cont  h3 span{background: url(../images/img/xx-bg.jpg) repeat; padding-right: 10px;
color: #575757;font-size: 18px; font-weight: bold;}
.situ-cont  p{text-indent: 0;}
.situ-cont .gallery{ padding-top: 30px; }
.situ-cont .gallery li{float: left;width: 420px; height: 200px; padding-right: 5px; padding-top: 6px;}
.situ-cont .video{width: 850px; background: #eeeeee;}
.situ-cont .video  video{width: 100%;height: auto;}


.excellence{width: 850px;margin: 0 auto;  background: url(../images/img/xx-bg.jpg) repeat; }
.excellence p,.excellence h2,.excellence ul,.excellence h3{padding: 30px 55px 0 55px;}
.excellence p{color: #7b7b7b;font-size: 15px;}
.excellence ul li{float: left; padding-right:5px;padding-top: 5px;position: relative;}
.excellence ul li img{z-index: 1;}
.excellence ul li span{position: absolute;top:35px; right: 35px; z-index: 10; display: block;color: #fffefe;
font-weight: bold;; font-size: 20px;text-shadow:1px 1px 1px #060303; }
.excellence h2{color:#004985; font-size: 20px; }
.excellence h3{color:#004985; }





/*共用*/
.l{float: left;}
.r{float: right;}
.pb20{padding-bottom: 20px;}
.bt{border-bottom: 1px solid #595757;}
.pt0{padding-top: 0;}
h1.pt25{padding-top: 25px;}
.pt25{padding-top: 25px;}
.mt80{margin-bottom: 80px;}
.mt20{margin-top: 20px;}
.mt50{margin-top: 50px;}
p.ti2{text-indent: 2em}