<!--底部-->
<div class="foot">
    <div class="footBox">
        <div class="footLogo">
            <a href="">
                <img src="__PUBLIC__/images/iocn/footLogo.png"/>
            </a>
        </div>
        <div class="footText">
            <h6>友情链接</h6>
            <ul>           
                <volist name="link_list" id="vo">
                    <li>
                        <a href="{$vo.url}">{$vo.name}</a>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="footText">
            <h6>联系方式</h6>
            <ul>
                <li>地址 / Add：海南省乐东黎族自治县黄流镇华东师范大学第二附属中学乐东黄流中学</li>
                <li>邮编 / PostCode：572536</li><!--
                <li>电话 / Tel：0898-XXX</li>-->
                <li>邮箱 / E-mail：hehlzx@126.com </li>
            </ul>
        </div>
        <div class="Code">
            <h6>微信公众号</h6>
            <img style='width:161px;height:161px;' src="__PUBLIC__/images/img/Code.jpg"/>
        </div>
    </div>
</div>
