<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>卓越学院暑期训练营</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/applyReset.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/dome1.css"/>
    </head>
    <body style='min-width:1280px'>
        <div class="banner">
            <img src="__PUBLIC__/img/banner.jpg"/>
        </div>
        <div class="banners">
            <div class="ban">
                <h3>卓越学院暑期训练营<a href="javascript:;">报名</a></h3>
                <div class="clearfix">
                    <span>网上报名</span>
                    <p>5月30-6月6日之间,网上报名《卓越学院暑期训练营报名表 》填报个人信息后于6月6日下午16:00前完成上传。</p>
                </div>
                <div class="clearfix">
                    <span>现场招募</span>
                    <p>6月10日下午前往乐东黎族自治县黄流中学参与招募活动。</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="left">
			
			<div class="newly">
				<h4>2016年暑期训练营招募启事</h4>
				<h5>2016年暑期训练营课程（活动）简介</h5>
				<div>
					<h6 style="color:#595757;">上海站：7月上旬、8月中旬</h6>
					<p>7月1-10日&emsp;博雅营——人文类、大学先修类、模拟联合国、商赛等</p>
					<p>7月1-15日&emsp;奥赛营——学科竞赛类（数、理、化、信息）</p>
					<p>8月6-19日&emsp;科技营——科技创新类</p>
				</div>
				<div>
					<h6 style="color:#595757;">黄流站：8月下旬</h6>
					<p>文化浸润营——人文素养提升（人文课程与文化考察）类课程；</p>
					<p>学科思维营——数理化生信息竞赛能力培养类课程；</p>
					<p>科创体验营——科技创新思维训练类课程</p>
				</div>
				<div>
					<p style="color:#fe200b;">备注：入选学生按双向选择原则报名参与相关项目。所有项目免学费。上海站项目海南-上海之间交通费，上海活动期间餐费自理，住宿免费。</p>
				</div>
				<div>
					<h6>招募对象及条件</h6>
					<p><b>1.县外：</b>未来拟报考我校的全省优秀的初三学生（市县统考中排名前30名，或县级一中或省级重点中学前20名）。</p>
					<p><b>2.县内：</b>在今年全县统考或一模考中位于前100名的初三学生，或是在省级及以上的比赛中获奖或有正式刊物作品发表等</p>
				</div>
				<div>
					<h6>报名时间和办法</h6>
					<p>网上报名：5月30-6月6日之间 网上下载《卓越学院暑期训练营报名表 》，填报个人信息后于6月6日下午16:00前完成上传。</p>
					<p>电子表格下载地址：<i>ldhl.hsefz.cn/admission </i></p>
				</div>
				<div>
					<h6>招募活动时间、地点</h6>
					<p>签到时间：6月10日下午13:00</p>
					<p>活动时间：6月10日下午14:00-17:00</p>
					<p>地&emsp;&emsp;点：黄流中学校园内</p>
				</div>
				<div>
					<h6>招募时需带的个人资料</h6>
					<p>1、学生的户口簿或临时居住证（复印件）。</p>
					<p>2、填写完毕的《卓越学院暑期训练营报名表》。</p>
					<p>3、各类荣誉和获奖的有效证明和学生综合素质评价报告（复印件）。</p>
				</div>
				<div>
					<h6>录取方式</h6>
					<p>6月20日前由华师大二附中乐东黄流管理团队根据申报学生在招募活动中表现及相关情况进行审查，审查合格后电话通知学生本人，并确认训练营录取情况。</p>
				</div>
				<div class="contacts">
					<p>咨询电话：0898-85858003  /  13876509080 </p>
					<p> 联系人：卢老师</p>
				</div>
			</div>
                <div class="first">
                    <h4>卓越学院暑期训练营</h4>
                    <p>华二乐东黄流中学卓越学院是一个为学有余力且学有所长的学生进行针对性学习服务的学校部门，具备独立的人才选拔和培养制度以及针对学生特长发展的小班化培养计划。通过各类高标准课程学习为少部分学业基础扎实的学生定制个性化特长发展课程。创建 “卓越学院”，本质上是构建一种新的学生培养模式，其内涵为：高水平的共同基础+个性化特长培养。</p>
                    <p>卓越学院的部分课程与上海华东师大二附中相关课程接轨，小班化多方位多途径地开展教学活动，通过同步课堂远程教学；上海教师团队短期入校指导；本校专职教师小班化辅导等方式授课。训练营是卓越学院课程的一种延伸形式，其特征是将卓越学院部分难度较低的课程向全体在校就读学生乃至未来希望报考本校的学生开放，以达到优质资源共享的目的。</p>
                </div>
                <div class="center">
                    <h4>追求卓越，共创未来</h4>
                    <h5>华东师大二附中乐东黄流中学</h5>
                    <p>华东师范大学附属第二中学乐东黄流中学（以下简称华二乐东黄流中学）由乐东县政府与上海华东师范大学第二附属中学合作创办，是一所全寄宿制县重点中学。华东师范大学第二附属中学是上海唯一的一所教育部直属重点中学，素有金牌学校之称，近年来以“六个百分百”素质教育育人模式闻名国内教育界。华二乐东黄流中学引入上海名师管理团队，吸纳原黄流中学及乐东地区的文化养分，使学校拥有前瞻性的办学理念、独特的学校文化、雄厚的师资力量和多维的办学特色。</p>
                    <p>我们以“追求卓越，培养创造未来的人”为办学理念，以“卓然独立，越而胜己”为校训，将着力打造以生涯辅导为支撑的服务学习体系，培养学生独立的人格和勇于自我超越的精神。</p>
                    <div class="clearfix">
                        <b>卓越的信念：</b>
                        <p>卓然独立、越而胜己</p>
                    </div>
                    <div class="clearfix">
                        <b>卓越的师资：</b>
                        <p>顾问团队——管理团队——师资团队</p>
                    </div>
                    <div class="clearfix">
                        <b>卓越的教研模式：</b>
                        <p>跨学段、跨学科教研</p>
                    </div>
                    <div class="clearfix">
                        <b>卓越的课程设置：</b>
                        <p>五大模块，必修，必选，自选相结合</p>
                    </div>
                    <div class="clearfix">
                        <b>卓越成长计划：</b>
                        <p style="width:320px;">全员、全人成长的社群管理、服务学习、综合实践活动</p>
                    </div>
                </div>
                <div class="last">
                    <h4>您也许会关心的问题及其解答</h4>
                    <div>
                        <h5>Q1：我们学校的“校训”具体怎么理解呢？</h5>
                        <p><i>A：</i>“卓然独立，越而胜已”由当代著名教育家叶澜教授提出。针对乐东黄流中学，我们赋予了新的含义，即鼓励每一个学生具备自信、自强、自由的灵魂，具有既不妄自菲薄也不妄自尊大的自我认同态度；具备发现自我、发展自我、超越自我的精神自觉，成为有目标、有信念、有实际行动力的一代新人。</p>
                    </div>
                    <div>
                        <h5>Q2：学校有哪些课程供我们选择？</h5>
                        <p>A：华二乐东黄流中学采用大教研模式进行学科建设。将所有学科分为三大教研室（语、数、英）和五大学院（自然科学学院、人文社科学院、工程与信息学院、艺术与视觉学院、体育与健康学院），学校提倡并鼓励跨学段、跨学科的教研、备课及课程开发活动。</p>
                        <p>学校力求为每一个学生提供适合他们兴趣特长和能力发展的课程项目。我们课程模块设置有：以国家与当地教学基本要求为前提的基础类必修课程和养成类必修课程；以校本研发可供学生自由选择的拓展类必选课程和综合类自选课程；有为学有余力的学生提供的卓越学院荣誉类自选课程。</p>
                    </div>
                    <div>
                        <h5>Q3：卓越学院如何申请？管理机制如何？</h5>
                        <p><i>A：</i>卓越学院主要设立奥赛类、人文类、科研类、工程类、艺术类、体育类特长方向培养目标，为有相关特殊需求且学有余力的学生服务。其主要加入方式有三：其一，直通车项目。每年假期（寒暑假）训练营项目，面对全省在读拟申报华二乐东黄流高中的初二、初三学生开放，在该项目中表现优异的学生可以直接进入卓越学院项目，训练营期间所获学分直接计入未来该生在黄流中学的学业总学分；其二，正式申报流程。新高一入学后，每年9月，以入学摸底成绩为基础，学生自愿申报，经卓越学院办公室审批合格后进入。其三，高一第一学期期中考试后，学生视自身发展需要可进行新一轮申报，自第二学期起进入卓越学院学习序列。该学院实行双向选择和流动制动态管理模式，有相对独立的荣誉申报、校本毕业生考核制度。</p>
                    </div>
                    <div>
                        <h5>Q4：学校有什么课后的学生活动吗？</h5>
                        <p><i>A：</i>上海华师大二附中素以活动众多，学业生活精彩著称。华二乐东黄流中学将继续保持这种风格。我们将推出自己的“N个百分百”计划，所有的学生都需要参加社团活动、志愿服务活动、课题研究项目以及读书活动，也可以有选择地参加学校组织的各类社会实践活动。学校还鼓励学生自行组织艺术节、社团节、体育节、科技节以及其他大家喜欢的学生兴趣活动。</p>
                    </div>
                    <div>
                        <h5>Q5：学校有自己的学生组织吗？形式如何？</h5>
                        <p><i>A：</i>学生管理方面，我们将推行团委、学生会领导下的“学生社群”管理模式，各学生社群实行学生自治，学校鼓励各学生社群自主管理，相互之间形成合作、分享与互助的关系，也鼓励良性竞争。</p>
                    </div>
                    <div>
                        <h5>Q6：什么是生涯规划？中学生有必要进行生涯规划吗?</h5>
                        <p><i>A：</i>简单的说，中学生生涯规划是基于每一个学生生命发展愿景的学涯辅导工作。这项工作的价值在于让每一个学生在清晰自己为什么而学的基础上，在找到自身生命动力的前提下学习。在一些发达国家，职业生涯规划是从幼儿园开始的。老师们在教学中将现在学习的知识和学生将来工作的领域联系起来；学生们通过自我探索、职业体验等活动全面了解社会行业、大学专业，并发现自己的兴趣、能力、性格和职业价值观等，从而找到自己的学业发展方向。</p>
                    </div>
                </div>
            </div>
            <div class="Img">
                <img src="__PUBLIC__/img/img.jpg"/>
            </div>
            <div class="bottom">
                <p>同学们：我们的生涯辅导员、学涯助理、心灵导师、</br>生活导师在黄流等着你！欢迎你的加入！</p>
            </div>
        </div>
    </body>
</html>
<script src="__PUBLIC__/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/layer.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $('.ban a').on('click', function () {
        layer.open({
            type: 2,
            title: false,
            maxmin: false,
            area: ['805px', '80%'],
            shadeClose: false,
            closeBtn: 1,
            content: "{$url}",
        })
    });
</script>