<include file="Index/header" />
<title>学校教师添加</title>
<!-- BEGIN CONTAINER -->
<script type="text/javascript" src="__PUBLIC__/kindeditor4110/kindeditor.js" charset="utf-8"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor4110/themes/default/default.css"></script>
<script type="text/javascript">

    KindEditor.ready(function (K) {
        // var editor = K.create('textarea[name="description"]');
        var editor = K.create('textarea[name="desc"]', {
            afterBlur: function () {
                this.sync();
            }
        });
    });
</script>
<div class="page-container">

    <include file="Index/left_menu" />

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">


            <!-- BEGIN PAGE HEADER-->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{:U('Admin/Index/index')}">主页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{:U('Admin/Teacher/schoolTeacher')}">学校教师管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-row-seperated" enctype="multipart/form-data" action="{:U('Teacher/addTeacherIng')}" method="post">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-shopping-cart"></i>学校教师添加
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#" data-toggle="tab">
                                                学校教师添加</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-space">
                                        <div class="tab-pane active">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">教师名字 <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control"  name="name" placeholder="教师名字">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">图片: <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="file"  name="img_path" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">在图片中的位置 <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control"  name="img_position" placeholder="在图片中的位置">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label"> 是否推荐至学校领导页面: <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input type="radio"  name="is_leader"  value="1" />是
                                                        <input type="radio"  name="is_leader"  value="2" />否
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">职位 <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <!-- <input type="text" class="form-control"  name="position" placeholder="教师职位(中间用英文,隔开)">-->
                                                        <!-- <select  name="position[]"> 
                                                         <option value="0">--请选择--</option>-->
                                                        <volist name="position_list" id="vo">
                                                            <input type="checkbox"  name="position[]"  value="{$vo.id}" <if condition="$vo['id'] eq $post_data['position']"></if> >{$vo.position_name}
                                                            <!-- <option value="{$vo.id}" <if condition="$vo['id'] eq $post_data['position']">selected="selected"</if> >{$vo.position_name}</option>-->
                                                        </volist>
                                                        <!--</select>-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">简介: <span class="required">*</span></label>
                                                    <div class="controls col-md-5">
                                                        <textarea id=""  cols="45%" rows="10" class="small " name="exper"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">详情内容: <span class="required">*</span></label>
                                                    <div class="controls col-md-5">
                                                        <textarea id="desc"  cols="45%" rows="10" class="small " name="desc"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">状态: <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input type="radio"  name="status"  value="1" />显示
                                                        <input type="radio"  name="status"  value="2" />隐藏
                                                    </div>
                                                </div>
                                                <div class="actions btn-set col-sm-offset-2">
                                                    <button  class="btn yellow"> <i class="fa fa-check"></i>添加</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Index/footer" />
