<include file="Index/header" />
<title>友情链接列表</title>
<link href="__PUBLIC__/static/media/css/select2.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <include file="Index/left_menu" />
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{:U('Admin/Index/index')}">主页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{:U('Admin/Link/link')}">友情链接管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>友情链接管理
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="portlet-body">
                                <div style="margin-bottom:10px;">
                                    <a href="{:U('Link/addlink')}" class="btn btn-success">添加友情链接</a>
                                </div>
                                <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover" id="datatable_products">
                                            <thead>
                                                <tr role="link_list" class="heading">
                                                    <th width="10%">
                                                        序号
                                                    </th>
                                                    <th width="10%">
                                                        友情链接名字
                                                    </th>
                                                    <th width="10%">
                                                        友情链接地址
                                                    </th>
                                                    <th width="10%">
                                                        友情链接状态
                                                    </th>
                                                    <th width="10%">
                                                        操作
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <volist name="link_list" id="vo" key="k">
                                                <tr>
                                                <td width="5%">
                                                        {$firstRow + $k}
                                                    </td>
                                                    <td width="10%">
                                                        {$vo.name}
                                                    </td>
                                                    <td width="10%">
                                                        {$vo.url}
                                                    </td>
                                                    <td width="10%">
                                                <if condition="$vo.status eq 1" >正常
                                                    <elseif condition="$vo.status eq 2" />停用
                                                </if>
                                                </td>
                                                <td width="10%">
                                                    <a href="{:U('Admin/Link/editlink', array('id'=>$vo['id']))}" class="btn btn-success">修改</a>
                                                    <a href="{:U('Admin/Link/dellinks', array('id'=>$vo['id']))}" class="btn btn-danger" onclick="if (confirm('确定删除?') == false)return false;">删除</a>
                                                </td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">{$page}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Index/footer" />
